<form name="bulkAddress" ng-submit="abc.submitForm(passholderEdit)">
  <div class="modal-header">
    <button type="button" class="close" ng-click="abc.cancel()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Adres wijzigen</h4>
  </div>
  <div class="modal-body">
    <p>Nieuw addres voor
    <!-- Some items selected -->
    <span ng-hide="abc.bulkSelection.selectAll" ng-bind="abc.bulkSelection.uitpasNumberSelection.length"></span>
    <!-- All items selected -->
    <span ng-show="abc.bulkSelection.selectAll" ng-bind="abc.bulkSelection.searchResults.totalItems"></span>
      geselecteerde pashouder(s).</p>

    <div class="row">

      <div class="col-xs-12">
        <div class="form-group">
          <label for="">Straat, nummer en bus</label>
          <input type="text" class="form-control" id="street" name="street" ng-model="abc.address.street">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="grid__12 grid--bp-med__3">
              <label for="">Postcode</label>
              <input type="text" class="form-control" id="zip" name="zip" ng-model="abc.address.zip">
            </div>

            <div class="grid__12 grid--bp-med__9">
              <label for="">Gemeente</label>
              <input type="text" class="form-control" id="city" name="city" ng-model="abc.address.city">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a ng-click="abc.cancel()" class="btn btn-default" ng-disabled="abc.submitBusy">Annuleren</a>
    <button type="button" class="btn btn-primary" ng-disabled="abc.submitBusy"
            ng-click="abc.submitForm(abc.passholders, bulkAddress)">
      <span ng-hide="abc.submitBusy">Wijzigen</span> <span ng-show="abc.submitBusy"><span class="fa fa-refresh loading small"></span> Wijzigen</span>
    </button>
  </div>
</form>