<div class="sidebar__inner">

  <div class="back-nav">
    <a ui-sref="counter.main.advancedSearch">Terug</a>
  </div>

  <p class="element-title">
    <ng-pluralize class="count-pashouders" count="bac.bulkSelection.uitpasNumberSelection.length" when="{'0': 'geen pashouders geselecteerd', '1': '{} pashouder geselecteerd', 'other': '{} pashouders geselecteerd'}"></ng-pluralize>
  </p>

  <ul class="listreset">

    <li class="slats-item" ng-repeat="passholder in bac.passholders">
      <div class="checkbox-on-left">
        <input type="checkbox" class="pashouder-selectie"  ng-click="bac.togglePassBulkSelection(passholder)" ng-checked="bac.bulkSelection.numberInSelection(passholder.passNumber)">
        {{ passholder.name.first }} {{ passholder.name.last }}

        <ul class="listreset statuut">
          <li class="grid passholder-passes" ng-repeat="pass in passholder.uitPassen" style="margin-bottom: 4px">

            <div class="grid__12 grid--bp-med__4">
              <span class="label label-danger" ng-show="pass.isKansenstatuut() && pass.kansenstatuutExpired(passholder)" title="{{ pass.cardSystem.name }}" data-toggle="tooltip" data-placement="top" tooltip>
                {{ pass.number }}: Kansenstatuut vervallen
              </span>
              <span class="label label-success" ng-show="pass.isKansenstatuut() && !pass.kansenstatuutExpired(passholder)" title="{{ pass.cardSystem.name }}" data-toggle="tooltip" data-placement="top" tooltip>
                {{ pass.number }}: Kansenstatuut geldig
              </span>
              <span class="label label-danger" ng-show="pass.isBlocked()" title="{{ pass.cardSystem.name }}" data-toggle="tooltip" data-placement="top" tooltip>
                {{ pass.number }}: Kaart geblokkeerd
              </span>
            </div>
          </li>
        </ul>

      </div>
    </li>

  </ul>

</div>
