<div class="back-nav">
  <a ui-sref="counter.main">Terug</a>
</div>
<uib-tabset>
  <h1>Pashouder zoeken</h1>
  <uib-tab ng-show="(pasc.searchModes.DETAIL)" heading="{{::pasc.searchModes.DETAIL.title}}" select="pasc.activeSearchMode(pasc.searchModes.DETAIL)"
           active="pasc.searchModes.DETAIL.active">
  <ubr-passholder-advanced-search-fields></ubr-passholder-advanced-search-fields>
</uib-tab>
  <uib-tab heading="{{::pasc.searchModes.NUMBER.title}}" select="pasc.activeSearchMode(pasc.searchModes.NUMBER)"
           active="pasc.searchModes.NUMBER.active">
    <p>Geef de kaartnummers van de aanwezige UiTPAShouders in: alle kaartnummers onder elkaar zonder scheidingstekens.</p>
    <form name="searchPassholderNumbers" ng-submit="pasc.findPassholdersByNumbers()" novalidate
          ng-class="{'form-submiting': pasc.formSubmitBusy}">
    <textarea ng-model="pasc.passNumbers" required name="passholderNumbers" ubr-uitpas-numbers-search-field
              rows="8" id="passholder-numbers" placeholder="bv 0987654321012 \n0987654321013"
              ng-change="pasc.clearAsyncError()"></textarea>
      <div ng-if="(searchPassholderNumbers.$submitted || searchPassholderNumbers.passholderNumbers.$touched || searchPassholderNumbers.passholderNumbers.$dirty) && searchPassholderNumbers.passholderNumbers.$invalid"
           class="alert alert-danger small">
        <div ng-if="searchPassholderNumbers.passholderNumbers.$error.required">
          Gelieve minstens 1 pashouder nummer in te geven.
        </div>
        <div ng-if="searchPassholderNumbers.passholderNumbers.$error.invalidCharacters">
          Enkel getallen (0-9), nieuwe regels en spaties zijn toegelaten.
        </div>
      </div>
      <div ng-show="pasc.invalidNumbers.length" class="alert alert-danger small">
        Enkele opgegeven UiTPAS-nummers zijn niet correct:
        <ul>
          <li ng-repeat="number in pasc.invalidNumbers">{{number}}</li>
        </ul>
      </div>
      <div ng-show="pasc.asyncError" class="alert alert-danger small">
        <span ng-bind="pasc.asyncError.cleanMessage"></span>
        <ul ng-if="pasc.asyncError.context && pasc.asyncError.context.length">
          <li ng-repeat="errorItem in pasc.asyncError.context track by $index" ng-bind="errorItem"></li>
        </ul>
      </div>
      <div class="actions">
        <button type="button" class="btn btn-primary pull-right" ng-disabled="pasc.formSubmitBusy || searchPassholderNumbers.$invalid"
                ng-click="pasc.findPassholdersByNumbers()">
          <span ng-hide="pasc.formSubmitBusy">Doorgaan</span>
        <span ng-show="pasc.formSubmitBusy">
          <span class="fa fa-refresh loading small"></span> Doorgaan
      </span>
        </button>
      </div>
    </form>

  </uib-tab>
</uib-tabset>
