// Buttons
.btn {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    background-color: $gray-25;
    border-color: $gray-25;
    color: $gray-50;
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
    &:hover,
    &:focus {
      background-color: $gray-25;
      border-color: $gray-25;
      color: $gray-50;
    }
  }
}

.btn-default {
  &:focus,
  &.focus {
    color: $white;
    background-color: $brand-primary;
        border-color: $brand-primary;
  }
  &:hover {
    color: $white;
    background-color: $brand-primary;
        border-color: $brand-primary;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $white;
    background-color: $brand-primary;
        border-color: $brand-primary;

    &:hover,
    &:focus,
    &.focus {
      color: $white;
      background-color: $brand-primary;
        border-color: $brand-primary;
    }
  }
}

.btn-ghost {
  @include button-variant($btn-ghost-color, $btn-ghost-bg, $btn-ghost-border);
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $brand-secondary;
    background-color: $white;
        border-color: darken($btn-ghost-border, 12%);
  }
}

a.btn {
  text-decoration: none;
}
