// Forms
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @include transitions((background, border));
  width: 100%;
  border: 1px solid $gray-25;
  box-shadow: none;
  padding: $padding-base-vertical $padding-base-horizontal;
  &:focus {
    outline: none;
    border-color: darken($gray-25, 7%);
  }
  &.ng-dirty.ng-invalid {
    border-color: $state-danger-border;
    background-color: lighten($state-danger-bg, 7%);
  }
}

label {
  margin-bottom: 0;
}

form label {
  margin-bottom: $rh-xsm;
}

label em {
  display: block;
  font-weight: 400;
  color: $gray-50;
}

.btn {
  @include transitions((color, background, border));
}

a + .btn {
  margin-left: 10px;
}

.alert {
  margin-top: 10px;
  margin-bottom: 15px;
}

.field-group {
  margin-bottom: $rh-xsm;
  margin-top: 0;
  @include breakpoint(map-get($breakpoints, sml)) {
    min-height: 96px; // to provide space for alert
  }
}

.field-group .alert {
  margin-bottom: 0;
}

.radio {
  margin-top: $padding-base-vertical;
  margin-bottom: $padding-base-vertical;
}

.grid.radios > [class*='grid__'] {
  margin-top: 0;
}
