// Forms
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  @include transitions((background, border));
  border: 1px solid $gray-25;
  box-shadow: none;
  padding: $padding-base-vertical $padding-base-horizontal;
  width: 100%;
  &:focus {
    outline: none;
    border-color: darken($gray-25, 7%);
  }
  &.ng-dirty.ng-invalid {
    border-color: $state-danger-border;
    background-color: lighten($state-danger-bg, 7%);
  }
  + .text-danger.small {
    margin-top: $rh-xxs;
  }
}

label {
  margin-bottom: 0;
}

form label {
  margin-bottom: $rh-xxs;
}

form hr {
  margin: 21px 0;
  border-top: 1px solid #ccc;
}

label em {
  display: block;
  font-weight: 400;
  color: $gray-50;
}

select[disabled='disabled']{
  opacity: .5;
}

.btn {
  @include transitions((color, background, border));
}

.dropdown-menu {
  li {
    margin-bottom: .3em;
  }
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.search {
  input[type=text] {
    padding-left: 30px;
  }
  &:before {
    @extend .fa;
    content:"\f002";
    color: $gray-25;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 11px;
  }
}

a + .btn {
  margin-left: 10px;
}

.alert {
  margin-top: 10px;
  margin-bottom: 15px;
}

.field-group {
  margin-bottom: $rh-xsm;
  margin-top: 0;
}

.field-group .alert {
  margin-bottom: 0;
}

.field-group [class^="grid"] {
  margin-top: 0;
}

label.radio, label.checkbox {
  margin-bottom: 12px;
  display: block;
}

.radio {
  margin-top: $padding-base-vertical;
  margin-bottom: $padding-base-vertical;
}

.radio + .radio {
  margin-top: 0;
}

.grid.radios > [class*='grid__'] {
  margin-top: 0;
}

input[type=text].input-small {
  width: auto;
}

.modal label[for=expirationDate] {
  display: block;
}
