// custom uitpas icons
.icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  max-width: 100%;
}
.icon--card-scan {
  background-image: url('../images/svg/fallback/card-scan.png');
  width: 10em;
  height: 10em;
}
.icon--card-scan.icon--card-scan--medium {
  width: 5em;
  height: 5em;
}
.svg .icon--card-scan {
  background-image: url('../images/svg/card-scan.svg');
}
.icon--card-group {
  background-image: url('../images/svg/fallback/card-group.png');
  width: 10em;
  height: 10em;
}
.svg .icon--card-group {
  background-image: url('../images/svg/card-group.svg');
}
