// Layout
html,
body {
  height: 100%;
}

.main-content,
.main-content > .container,
.main-content > .container > .grid {
  @include breakpoint(map-get($breakpoints, sml)) {
    height: 100%;
  }
}

.main-content {
  background-color: $white;
}

.grid-halfgutter {
  @include make-row($grid-gutter-width/2);
  > [class*="grid"] {
    padding-left: ($grid-gutter-width/4);
    padding-right: ($grid-gutter-width/4);
  }
}

.grid-quartergutter {
  @include make-row($grid-gutter-width/4);
  > [class*="grid"] {
    padding-left: ($grid-gutter-width/8);
    padding-right: ($grid-gutter-width/8);
  }
}
