// Layout
html,
body {
  height: 100%;
}

.main-content {
  height: 100%;
  position: relative;
  @include breakpoint(map-get($breakpoints, sml)) {
    > .sidebar {
      position: absolute;
      top: 0;
      left: 0;
    }
    > .main,
    > .footer {
      margin-left: 33.333%;
    }
  }
  @include breakpoint(map-get($breakpoints, med)) {
    > .main,
    > .footer {
      margin-left: 25%;
    }
  }
}

.main-content {
  background-color: $white;
}
