// Loading Start screen
.loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
  background-color: $gray-0;
}

.loading-indicator-body {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -45px;
}

.spinning-dots-spinner {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.spinning-dots-spinner [class*="circle"] {
  width: 12px;
  height: 12px;
  background-color: $brand-secondary;
}

.loading-message {
  text-align: center;
  margin-top: 30px;
}

// Loading Overviews
.overview .spinning-dots-spinner {
  width: 30px;
  height: 30px;
  margin: $rh-lrg auto;
}
.overview .spinning-dots-spinner [class*="circle"] {
  width: 6px;
  height: 6px;
  background-color: $gray-50;
}

// Waiting status
.loading {
  @include animation(spin 1s infinite linear);
}
