// Login
.site-login {
  max-width: 500px;
  margin: 20px;
  @include breakpoint(map-get($breakpoints, sml)) {
    margin: 40px auto;
    padding-top: 100px;
  }
  &__logo {
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background: url(../images/svg/logo-uitpas-full.svg) no-repeat 50% top;
    background-size: auto 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: .9em;
    color: $brand-secondary;
    &:before {
      content: '';
      display: block;
      height: 1px;
      width: 70%;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -35%;
      border-top: 1px solid $gray-25;
      border-bottom: 1px solid lighten($gray-0, 3%);
    }
    @include breakpoint(map-get($breakpoints, xxs)) {
      background-size: auto 50px;
      padding-top: 65px;
    }
    @include breakpoint(map-get($breakpoints, xsm)) {
      padding-top: 85px;
      background-size: 280px auto;
    }
  }
  &__title {
    + h2 {
      margin-top: -.5em;
    }
  }
  &__intro {
    p {
      font-style: italic;
      color: $gray-50;
    }
  }
  &__btn {
    margin-bottom: .5em;
  } 
}

.no-svg .site-login__logo {
  background: url(../images/svg/fallback/logo-uitpas-full.png) no-repeat 50% top;
}
