// Main
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

// Type
p {
  margin: 0 0 $rh-sml;
}

ol,
ul {
  margin: $rh-sml 0;
}

// Links
a {
  @include transitions((color, background, border));
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

hr {
  margin-top: $rh-xsm;
  margin-bottom: $rh-xsm;
}

.direction {
  font-style: italic;
  color: $gray-75;
}
