// markdown styles
.ng-binding-markdown {
  @include breakpoint(map-get($breakpoints, med)) {
    max-width: 70%;
    padding-top: 4px;
  }
  h1 {
    border-bottom: 1px solid $gray-25;
    font-size: 1.466em;
    margin-bottom: $rh-xsm;
    margin-top: $rh-sml;
    padding-bottom: $rh-xsm;
  }
  h2 {
    font-weight: 400;
    padding-left: 30px;
    position: relative;
    &:before {
      @extend .fa;
      @extend .fa-question-circle;
      color: $gray-50;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  p {
    padding-left: 30px;
  }
}
