// Modal
.modal {
}

.modal-lg {
  max-width: 1200px;
}

.modal-sm {
  max-width: 600px;
}

.modal-sm {
  .field-group {
    min-height: auto;
  }
}

.modal [name=membershipRegistrationForm] {
  input.input-small {
    min-width: 204px;
  }
}

