// Modal
.modal {
  &-sm {
    max-width: 600px;
  }
  &-lg {
    max-width: 1200px;
  }
  &-footer {
    a.pull-left {
      vertical-align: middle;
    }
  }
}

.modal-sm {
  .field-group {
    min-height: auto;
  }
}
