// Modal
.modal {
  &-sm {
    max-width: 600px;
  }
  &-lg {
    max-width: 1200px;
  }
  &-body {
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
  &-body-sticky {
    padding: 0;

    > * {
      margin: 0;
      padding: 15px;
    }
  }
  &-footer {
    a {
      vertical-align: middle;
    }
  }
  .field-group {
    @include breakpoint(map-get($breakpoints, xsm)) {
      min-height: 85px;
    }
  }
  .grid + hr {
    margin: 0 0 $rh-xsm;
  }
}

.modal-sm {
  .field-group {
    min-height: auto;
  }
}

.modal [name=membershipRegistrationForm] {
  input.input-small {
    min-width: 204px;
  }
}

// modal edit contact
.modal {
  .checkbox {
    label {
      font-weight: 400;
    }
    &.exclude-email-group {
      @include breakpoint(map-get($breakpoints, med)) {
        padding-top: 2.05em;
      }
    }
  }
}

// modal point history
.points-history {
  .panel-body {
    padding: 0;
  }

  .scroll-area {
    border: 1px solid #ccc;
  }

  p, .grid {
    margin: 0;
  }

  .history-item {
    padding: 25px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #cccccc;
    }

    &:hover {
      background-color: #e5eef5;
    }
  }

  .activity__points {
    color: green;
    display: block;
    text-align: center;
    font-weight: 700;
  }
}
