// Sidebar
.sidebar {
  background-color: $gray-0;
  padding: 0 15px;
  @include transitions((width));
  .inside {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }
  .inside > form,
  .inside > div {
    @include clearfix;
    padding-top: $rh-xsm;
    padding-bottom: $rh-xsm;
    border-bottom: 1px solid $gray-25;
    + div,
    + form {
      border-top: 1px solid lighten($gray-0, 3%);
    }
  }
  h1 {
    font-size: 1.6em; //24px
    margin: 0 0 .6em; 
  }
  h3 {
    color: $gray-50;
    font-size: 1em;
    font-weight: 400;
    text-shadow: 1px 1px $white;
  }
  .panel {
    margin-bottom: 0;
    + .panel {
      margin-top: $rh-xsm;
    }
  }
  .panel-body {
    padding: 15px;
  }
  .list-group {
    margin: 0;
  }
  .list-group-item a {
    text-decoration: none;
  }
}

// Sidebar: Passholder
.back-nav {
  a:before {
    @extend .fa;
    @extend .fa-arrow-left;
    font-size: .8em;
    margin-right: 5px;
  }
}

a.toggle-down {
  display: inline-block;
  margin: $rh-xsm 0 $rh-xxs;
  i {
    @extend .fa;
    @extend .fa-chevron-down;
    font-size: .8em;
    margin-left: 5px;
  }
  &[aria-expanded='true'] i {
    @extend .fa-chevron-up;
  }
}

.passholder {
  .label.pull-right {
    margin-top: 2px;
  }
  .name {
    font-weight: 700;
  }
  .vcard > div {
    margin-bottom: 5px;
  }
  // icons
  .tel,
  .email {
    position: relative;
    padding-left: 25px;
    &:before {
      @extend .fa;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      line-height: 20px;
      text-align: center;
    }
  }
  .tel:before {
    @extend .fa-phone;
  }
  .tel.mobile:before {
    @extend .fa-mobile;
    font-size: 1.2em;
  }
  .email {
    overflow: hidden;
    text-overflow: ellipsis;
    &:before {
      @extend .fa-envelope;
      font-size: .8em;
    }
  }
  .edit {
    display: inline-block;
    margin-top: $rh-xsm;
    margin-bottom: $rh-xxs;
  }
  &-points .label {
    float: right;
    font-size: 36px;
    padding: 3px 7px;
    margin: 0;
    font-weight: 700;
    @include label-variant($label-success-bg);
    text-align: center;
  }
  &-points h3 {
    float: left;
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    transition-timing-function: ease-out;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  .pulse {
    animation-name: pulse;
  }
  // Sidebar: groepspas
  &-group {
    .icon {
      background-size: contain;
      max-height: 90px;
      width: 100%;
    }
    &-points .label {
      @include label-variant($yellow-50);
    }
  }

}

// Sidebar: kansenstatuurt
a.list-group-item {
  text-decoration: none;
  color: $brand-primary;
  &:hover,
  &:focus {
    background-color: $hover-bg;
    color: $brand-primary;
  }
}
