table {
  width: 100%;
  margin: $rh-xsm 0;
  thead {
    border-bottom: 1px solid $gray-15;
  }
  thead th {
    padding: $rh-xsm;
    text-align: center;
    vertical-align: middle;
  }
  tbody th {
    font-weight: normal;
    padding: $rh-xsm;
    text-align: left;
    vertical-align: top;
  }
  tbody td {
    text-align: center;
    vertical-align: middle;
    &:first-child {
      text-align: left;
    }
  }
  tr {
    border-bottom: 1px solid $gray-15;
  }
  td {
    padding: $rh-xsm;
    &.lowest {
      background-color: adjust-color($brand-success, $saturation: 100%, $lightness: 35%);
    }
  }
  .coupon {
    th:before {
      @extend .fa;
      @extend .fa-ticket;
      margin-right: 5px;
    }
    th,
    td {
      background-color: $gray-0;
    }
    td.lowest {
      background-color: adjust-color($brand-success, $saturation: 100%, $lightness: 35%);
    }
  }
}
td label {
  margin-bottom: 0;
}
td label input + span {
  display: block;
  font-weight: normal;
}
.lowest-legend {
  &:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: adjust-color($brand-success, $saturation: 100%, $lightness: 35%);
    border: 1px solid $gray-15;
  }
}

.modal-body-sticky table {
  th, td {
    text-align: left;
    padding: 15px;

    &:last-child {
      text-align: right;
    }
  }

  th {
    background-color: $navbar-inverse-bg;
    color: $white;
  }
}

// Responsive tables: principle no more tables with data-attributes https://css-tricks.com/responsive-data-tables/


.table-mobile {
  @include breakpoint(map-get($breakpoints, lrg), max-width) {
    display: block;
    thead {
      display: none;
    }
    tbody,
    tbody tr,
    tbody td {
      display: block;
      text-align: left;
      width: 100%;
    }
    tbody td {
      @include clearfix;
    }
    tbody td:before {
      content: attr(data-title);
      display: inline-block;
      float: left;
      padding-right: 30px;
      width: 80%;
    }
    tbody th {
      background-color: $gray-15;
      display: block;
      font-weight: bold;
    }
    tbody td .value {
      display: inline-block;
      padding-left: 20px;
      position: relative;
      width: 20%;
      input {
        left: 0;
        margin-top: 2px;
        position: absolute;
        top: 0; 
      }
    }
  }
  @include breakpoint(map-get($breakpoints, xxs), max-width) {
    tbody td:before {
      width: 100%;
      padding-right: 0;
    }
    tbody td .value {
      padding-left: 0;
      text-align: center;
      width: 100%;
      input {
        position: relative;
      }
    }
  }
}
