table {
  width: 100%;
  margin: $rh-xsm 0;
  thead {
    border-bottom: 1px solid $gray-15;
  }
  thead th {
    padding: $rh-xsm;
    text-align: center;
    vertical-align: middle;
  }
  tbody th {
    font-weight: normal;
    padding: $rh-xsm;
    text-align: left;
    vertical-align: top;
  }
  tbody td {
    text-align: center;
    vertical-align: middle;
  }
  tr {
    border-bottom: 1px solid $gray-15;
  }
  td {
    padding: $rh-xsm;
    &.lowest {
      background-color: adjust-color($brand-success, $saturation: 100%, $lightness: 35%);
    }
  }
  .coupon {
    th:before {
      @extend .fa;
      @extend .fa-ticket;
      margin-right: 5px;
    }
    th,
    td {
      background-color: $gray-0;
    }
    td.lowest {
      background-color: adjust-color($brand-success, $saturation: 100%, $lightness: 35%);
    }
  }
}
td label {
  margin-bottom: 0;
}
td label input + span {
  display: block;
  font-weight: normal;
}
.lowest-legend {
  &:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: adjust-color($brand-success, $saturation: 100%, $lightness: 35%);
    border: 1px solid $gray-15;
  }
}
