// Functions
//
// Based on the relative-size function from Stitch, http://stitchcss.com/
@function relative-size( $target, $context: $font-size-base, $unit: rem ) {
  @return #{$target/$context}$unit;
}
@function rs( $target, $context: $font-size-base, $unit: rem ) {
  @return relative-size($target, $context, $unit);
}
@function fs( $target, $context: $font-size-base, $unit: rem ) {
  @return #{round(($target/$context)*1000)/1000}$unit;
}
@function lh( $target, $context: $font-size-base ) {
  @return round(($target/$context)*1000)/1000;
}

// [converter] $parent hack
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover,
  a#{$parent}:focus {
    color: darken($color, 10%);
  }
}

// Contextual backgrounds
// [converter] $parent hack
@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover,
  a#{$parent}:focus {
    background-color: darken($color, 10%);
  }
}

// Text overflow
// Requires inline-block or block for proper styling

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



%ext-listreset {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Reset the list
@mixin listreset {
  @extend %ext-listreset;
  // ul {
  //   @extend %ext-listreset;
  // }
}

// A CSS image replacement method that does not require the use of text-indent.
@mixin hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

// Convert a px font size to rem
@mixin fsRem($font-size) {
  font-size: $font-size;
  font-size: fs($font-size);
}

@mixin link-variant($link: $color-link, $hover: null, $visited: null) {
  @if $visited == null {
    $visited: $link;
  }
  @if $hover == null {
    $hover: $link;
  }

  color: $link;
  &:visited {
    color: $visited;
  }
  &:hover,
  &:focus {
    color: $hover;
  }
}
