<div class="pane pane-register text-center direction" ng-switch="prc.pass.type">
  <div class="card" ng-switch-when="CARD">
    <img class="logo" src="images/svg/card-new.svg" width="150" height="150" alt="new card">
    <p ng-hide="prc.pass.kansenStatuut">Deze kaart is nog niet geregistreerd.</p>
    <p ng-show="prc.pass.kansenStatuut" class="alert alert-info"><em>Deze kaart is nog niet geregistreerd. Deze kaart is voorbehouden aan mensen met een kansenstatuut.</em></p>
  </div>
  <div class="key" ng-switch-when="KEY">
    <img class="logo" src="images/svg/key.svg" width="150" height="150" alt="key">
    <p ng-hide="prc.pass.kansenStatuut">Deze sleutelhanger is nog niet geregistreerd.</p>
    <p ng-show="prc.pass.kansenStatuut" class="alert alert-info"><em>Deze sleutelhanger is nog niet geregistreerd. Deze sleutelhanger is voorbehouden aan mensen met een kansenstatuut.</em></p>
  </div>
  <div class="sticker" ng-switch-when="STICKER">
    <img class="logo" src="images/svg/sticker.svg" width="150" height="150" alt="sticker">
    <p ng-hide="prc.pass.kansenStatuut">Deze sticker is nog niet geregistreerd.</p>
    <p ng-show="prc.pass.kansenStatuut" class="alert alert-info"><em>Deze sticker is nog niet geregistreerd. Deze sticker is voorbehouden aan mensen met een kansenstatuut.</em></p>
  </div>

  <p class="alert alert-danger" ng-hide="prc.isCounterEligible()">
    De actieve balie heeft onvoldoende bevoegdheid om deze UiTPAS te registeren.
  </p>

  <div class="panel panel-default text-left" ng-show="prc.pass.kansenStatuut">
    <div class="panel-body">
      <p class="element-title" ng-bind="prc.pass.cardSystem.name"></p>
      <div class="form-group">
        <div class="form-inline">
          <ubr-datepicker ng-model="prc.kansenstatuut.endDate" ubr-label="Geldig tot" ubr-id="geldig-tot" ubr-full-range="true" ubr-name="endDate"></ubr-datepicker>
        </div>
      </div>
      <div class="checkbox">
        <label for="more-info-check">
          <input type="checkbox" class="more-info-check" id="more-info-check" name="more-info" ng-model="prc.kansenstatuut.includeRemarks">
          Voeg opmerkingen toe
        </label>
      </div>
      <div class="form-group more-info" ng-show="prc.kansenstatuut.includeRemarks">
        <textarea class="form-control" id="opmerkingen" rows="3" ng-model="prc.kansenstatuut.remarks"></textarea>
      </div>
      <div class="checkbox">
        <label for="is-student-check">
          <input type="checkbox" class="is-student-check" id="is-student-check" name="is-student" ng-model="prc.isStudent">
          Pashouder is leerling
        </label>
      </div>
      <div class="form-group school" ng-show="prc.isStudent">
          <div ng-if="!prc.schoolsLoaded" class="alert alert-info text-center">
            <p>De lijst met scholen wordt opgehaald.
              <span class="spinner spinner-xsmall spinner-inline">
                <circle-spinner></circle-spinner>
              </span>
            </p>
          </div>
          <select ng-if="prc.schoolsLoaded" chosen name="selectSchool" id="select-school"
            ng-model="prc.school"
            ng-options="school as school.name for school in prc.schools"
            data-placeholder="Kies een school">
          </select>
      </div>
      <button type="button" class="btn btn-primary" ng-click="prc.startRegistration()" ng-disabled="!prc.isCounterEligible()">
        Pashouder registeren
      </button>
    </div>
  </div> <!--/ end .panel-->

  <p ng-hide="prc.pass.kansenStatuut">
    <button type="button" class="btn btn-primary" ng-click="prc.startRegistration()" ng-disabled="!prc.isCounterEligible()">
      Pashouder registeren
    </button>
  </p>
</div>
