<form name="contactDataForm" ng-submit="prc.submitContactDataForm(contactDataForm)" novalidate ng-disabled="prc.formSubmitBusy">
<div class="modal-body">
  <div class="container-fluid">
    <fieldset ng-disabled="prc.formSubmitBusy">
      <div class="field-group">
        <label class="control-label" for="telephone">
          Telefoon <span ng-show="prc.passholder.isUnderAge()">van ouder</span>
        </label>
        <input type="text" class="form-control" id="telephone" name="telephone" ng-model="prc.passholder.contact.telephoneNumber">
      </div>
      <div class="field-group">
        <label class="control-label" for="gsm">
          GSM <span ng-show="prc.passholder.isUnderAge()">van ouder</span>
        </label>
        <input type="text" class="form-control" id="gsm" name="gsm" ng-model="prc.passholder.contact.mobileNumber">
      </div>
      <div class="field-group"  ng-class="{ 'has-error': prc.showFieldError(contactDataForm, 'email') || (prc.hasEmailOrEmailConfirmedState === 'notConfirmed' && !prc.passholder.contact.email && !prc.excludeEmail) }">
        <label class="control-label" for="email">
          E-mailadres <span ng-show="prc.passholder.isUnderAge()">van ouder</span>
        </label>
        <input type="email" class="form-control" id="email" name="email" ng-model="prc.passholder.contact.email"
         ng-required="prc.hasEmailOrEmailConfirmedState === 'notConfirmed' && !prc.excludeEmail" ng-change="prc.emailChanged(contactDataForm)" ubr-ignore-field="prc.excludeEmail"
         ng-disabled="prc.excludeEmail" ng-pattern ='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'>
        <div ng-if="prc.showFieldError(contactDataForm, 'email')" class="text-danger small">
          <div ng-show="contactDataForm.email.$error.pattern || contactDataForm.email.$error.email">Het e-mailadres heeft een verkeerd formaat.</div>
          <div ng-show="contactDataForm.email.$error.inUse">Het e-mailadres is reeds in gebruik.</div>
          <div ng-show="contactDataForm.email.$error.required">Een geldig e-mailadres is verplicht.</div>
          <div ng-show="contactDataForm.email.$error.failedValidation">Dit e-mailadres is ongeldig. Geef een geldig e-mailadres op om verder te gaan.</div>
        </div>
        <div ng-show="prc.emailValidated" class="text-danger small">Controleer het e-mailadres voor je naar de volgende stap gaat. Er staat misschien een fout in.</div>

        <div style="margin-top: 8px">
          <p>
            <strong>Vul het e-mailadres in zodat de pashouder alles uit z’n UiTPAS kan halen.</strong><br />
            Zo kan de pashouder gebruikmaken van uitpas.be en de app om:
          </p>
          <ul class="checklist">
            <li>Online het puntensaldo steeds terug te vinden en punten te sparen zonder kaart;</li>
            <li>Online leuke voordelen te vinden en meteen om te ruilen;</li>
            <li>De UiTPAS altijd en overal makkelijk bij te hebben op smartphone.</li>
          </ul>
        </div>

        <div class="checkbox exclude-email-group" ng-hide="prc.hasEmailOrEmailConfirmedState === 'initial'" ng-class="{ 'has-error': prc.hasEmailOrEmailConfirmedState === 'notConfirmed' && !prc.passholder.contact.email && !prc.excludeEmail }">

          <label for="exclude-email"><input name="excludeEmail" id="exclude-email" type="checkbox" ng-change="prc.emailChanged(contactDataForm)"
                                            ng-model="prc.excludeEmail"><strong> Ik bevestig dat deze pashouder geen e-mailadres heeft.</strong><small ng-show="prc.hasEmailOrEmailConfirmedState === 'notConfirmed'"><br />Duid het selectievakje aan of vul e-mail in.</small></label>

        </div>
      </div>

    </fieldset>
  </div>
</div><!-- end modal-body -->
<div class="modal-footer">
  <a class="btn btn-link pull-left" ng-click="prc.cancelRegistration()">Annuleren</a>
  <a class="btn btn-default modal-prev" ui-sref="counter.main.register.form.personalData" role="button">Vorige</a>
  <button type="button" class="btn btn-default modal-next" ng-click="prc.submitContactDataForm(contactDataForm)" ng-disabled="contactDataForm.$invalid || validating">
    <span ng-hide="validating">Volgende</span>
    <span ng-show="validating"><i class="fa fa-spinner fa-spin"></i> Email adres wordt gecontroleerd</span>
  </button>
</div>
</form>
