<form name="contactDataForm" ng-submit="prc.submitContactDataForm(contactDataForm)" novalidate ng-disabled="prc.formSubmitBusy">
<div class="modal-body">
  <div class="container-fluid">
    <fieldset ng-disabled="prc.formSubmitBusy">
      <div class="field-group">
        <label class="control-label" for="telephone">
          Telefoon
        </label>
        <input type="text" class="form-control" id="telephone" name="telephone" ng-model="prc.passholder.contact.telephoneNumber">
      </div>
      <div class="field-group">
        <label class="control-label" for="gsm">
          GSM
        </label>
        <input type="text" class="form-control" id="gsm" name="gsm" ng-model="prc.passholder.contact.mobileNumber">
      </div>
      <div class="field-group"  ng-class="{ 'has-error': prc.showFieldError(contactDataForm, 'email') }">
        <div class="grid">
          <div class="grid__12 grid--bp-med__8" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.email.$touched) && passholderEdit.email.$invalid }">
            <label class="control-label" for="email">
              E-mailadres
            </label>
            <input type="email" class="form-control" id="email" name="email" ng-model="prc.passholder.contact.email"
             ng-required="!prc.excludeEmail" ng-change="prc.emailChanged()" ubr-ignore-field="prc.excludeEmail"
             ng-disabled="prc.excludeEmail">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.email.$touched) && passholderEdit.email.$invalid" class="text-danger small">
              <div ng-if="passholderEdit.email.$error.email">Het e-mailadres heeft een verkeerd formaat.</div>
              <div ng-if="passholderEdit.email.$error.inUse">Het email adres is reeds in gebruik.</div>
              <div ng-if="passholderEdit.email.$error.required">Een geldig e-mailadres is verplicht.</div>
              <div ng-if="passholderEdit.email.$error.formatAsync">Het opgegeven e-mail adres is niet geldig.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-med__4">
            <div class="checkbox exclude-email-group">
              <label for="exclude-email"><input name="excludeEmail" id="exclude-email" type="checkbox" ng-change="prc.emailChanged()"
                 ng-model="prc.excludeEmail"> Geen e-mail</label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div><!-- end modal-body -->
<div class="modal-footer">
  <a class="btn btn-link pull-left" ng-click="prc.close()">Annuleren</a>
  <a class="btn btn-default modal-prev" ui-sref="counter.main.register.form.personalData" role="button">Vorige</a>
  <input type="button" class="btn btn-default modal-next" ng-click="prc.submitContactDataForm(contactDataForm)" value="Volgende">
</div>
</form>
