<div class="modal-header">
  <button type="button"  ng-click="prc.cancelRegistration()" class="close" aria-label="Close">&times;</button>
  <h4 class="modal-title">Pashouder toevoegen: Stap <span ng-bind="prc.getStepNumber()"></span></h4>
</div>
<ul class="four steps step">
  <li ui-sref-active="active" class="step">
    <img style="height: 40px; float: left; margin-top: -10px; margin-bottom: -10px;"
         ng-src="data:image/jpeg;base64, {{prc.eIDData.picture}}" />
    <a ui-sref="counter.main.register.form.personalData">Persoonsgegevens</a>
  </li>
  <li ui-sref-active="active" class="step" ng-switch="prc.getStepNumber() < 2">
    <span ng-switch-when="true">
      Contact
    </span>
    <span ng-switch-default>
      <a ui-sref="counter.main.register.form.contactData" >Contact</a>
    </span>
  </li>
  <li ui-sref-active="active" class="step" ng-switch="prc.getStepNumber() < 3">
    <span ng-switch-when="true">
      Opt-ins en voorwaarden
    </span>
    <span ng-switch-default>
      <a ui-sref="counter.main.register.form.optIns" ng-hide="prc.getStepNumber() < 3">Opt-ins en voorwaarden</a>
    </span>
  </li>
  <li ui-sref-active="active" class="step" ng-switch="prc.getStepNumber() < 4">
    <span ng-switch-when="true">
      Prijs
    </span>
    <span ng-switch-default>
      <a ui-sref="counter.main.register.form.price" ng-hide="prc.getStepNumber() < 4">Prijs</a>
    </span>
  </li>
</ul>

<div class="modal-body">
  <div class="alert alert-danger" ng-show="prc.registerForeign">
    <span>LET OP, je registreert nu een pashouder met een woonplaats buiten België. <a class="btn-link" ng-click="prc.cancelRegistration()">Annuleren</a></span>
  </div>
  <div class="alert alert-danger" ng-show="prc.asyncError">
    <span ng-bind="prc.asyncError.cleanMessage"></span>
  </div>
</div>

<div ui-view="registrationStep"></div>
