
<form name="optInDataForm" class="registration-optin-data" ng-submit="prc.submitOptInDataForm(optInDataForm)" novalidate ng-disabled="prc.formSubmitBusy">
<div class="modal-body">
  <div class="container-fluid">
    <fieldset ng-disabled="prc.formSubmitBusy">
      <div class="grid">
          <div class="grid__12 grid--bp-med__4 optin-section">
            <div class="field-group">
              <label class="control-label">
                Privacy-en gebruiksvoorwaarden
              </label>
              <div class="checkbox">
                <label for="legal-terms-digital" ng-class="{'disabled': prc.passholder.contact.email || prc.excludeEmail}"><input name="LegalTermsDigital" id="legal-terms-digital" type="checkbox" ng-model="prc.legalTermsDigital" ng-disabled="prc.passholder.contact.email || prc.excludeEmail"> Informatie wordt bezorgd via e-mail</label>
              </div>
              <div class="checkbox">
                <label for="legal-terms-paper"><input name="LegalTermsPaper" id="legal-terms-paper" type="checkbox" ng-model="prc.legalTermsPaper"> Folder over voorwaarden is overhandigd</label>
              </div>
              <div ng-show="prc.noTermsSelected" class="text-danger small">Gelieve minstens één optie te kiezen.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-med__4 optin-section">
              <div class="field-group">
                <label class="control-label">
                  Communicatie voorkeuren
                </label>
                <p class="field-group-description">Pashouder wil informatie ontvangen via:</p>
                <div class="checkbox">
                  <label for="optin-email" ng-class="{'disabled': prc.passholder.isUnderAge() || prc.excludeEmail}"><input name="optInEmail" id="optin-email" type="checkbox" ng-model="prc.optInEmail" ng-disabled="prc.passholder.isUnderAge() || prc.excludeEmail"> <strong ng-hide="prc.passholder.isUnderAge() || prc.excludeEmail">E-mail</strong><span ng-show="prc.passholder.isUnderAge() || prc.excludeEmail">E-mail</span>
                  <small ng-hide="prc.passholder.isUnderAge() || prc.excludeEmail">
                    <br />
                    Hierdoor blijft de pashouder op de hoogte van leuke UiTPAS voordelen en activiteiten.
                  </small>
                  </label>
                </div>
                <div class="checkbox">
                  <label for="optin-sms" ng-class="{'disabled': prc.passholder.isUnderAge() || !prc.passholder.contact.mobileNumber}"><input name="optInSms" id="optin-sms" type="checkbox" ng-model="prc.passholder.optInPreferences.sms" ng-disabled="prc.passholder.isUnderAge() || !prc.passholder.contact.mobileNumber"> SMS</label>
                </div>
                <div class="checkbox">
                  <label for="optin-post"><input name="optInPost" id="optin-post" type="checkbox" ng-model="prc.passholder.optInPreferences.post"> Post</label>
                </div>
            </div>
          </div>
          <div class="grid__12 grid--bp-med__4 optin-section">
            <div class="field-group">
              <label class="control-label">
                Pashouder is minderjarig
              </label>
              <div class="checkbox">
                <label for="parental-consent" ng-class="{'disabled': !prc.passholder.isUnderAge()}"><input name="parentalConsent" id="parental-consent" type="checkbox" ng-model="prc.parentalConsent" ng-required="prc.passholder.isUnderAge()" ng-disabled="!prc.passholder.isUnderAge()"> Expliciete toestemming van ouder of voogd</label>
                <div ng-if="prc.showFieldError(optInDataForm, 'parentalConsent')" class="text-danger small">
                  <div ng-show="optInDataForm.parentalConsent.$error.required">Toestemming ouder of voogd is verplicht.</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </fieldset>
  </div>
</div><!-- end modal-body -->
<div class="modal-footer">
  <a class="btn btn-link pull-left" ng-click="prc.cancelRegistration()">Annuleren</a>
  <a class="btn btn-default modal-prev" ui-sref="counter.main.register.form.contactData" role="button">Vorige</a>
  <button type="button" class="btn btn-default modal-next" ng-click="prc.submitOptInDataForm(optInDataForm)" ng-disabled="optInDataForm.$invalid || validating"><i ng-show="validating" class="fa fa-spinner fa-spin"></i> Volgende</button>
</div>
</form>
