<form name="personalDataForm" ng-submit="prc.submitPersonalDataForm(personalDataForm)"
      novalidate ubr-insz-number-validation ng-disabled="prc.formSubmitBusy">
  <div class="modal-body">
    <div class="container-fluid">
      <fieldset ng-disabled="prc.formSubmitBusy">
        <div class="grid">
          <div class="grid__12 grid--bp-lrg__12">
            <div class="alert alert-info" ng-show="prc.isJavaFXBrowser">
              Plaats de e-id van de pashouder in de lezer en deze gegevens worden snel voor jou ingevuld. <a ng-click="prc.getDataFromEId()">Gegevens inlezen</a>
            </div>
            <div class="alert alert-danger" ng-show="prc.isJavaFXBrowser && prc.eIDError" ng-bind="prc.eIDError"></div>
            <div class="alert alert-danger" type="{{prc.formAlert.type}}" ng-show="prc.formAlert" ng-bind="prc.formAlert.message"></div>
          </div>
          <div class="grid__12 grid--bp-lrg__3 field-group"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'inszNumber') }">
            <label class="control-label" for="insz-number">
              Rijksregisternummer
            </label>
            <input type="text" class="form-control" id="insz-number" required name="inszNumber" ng-model="prc.passholder.inszNumber">
            <div ng-if="prc.showFieldError(personalDataForm, 'inszNumber')" class="text-danger small">
              <div ng-if="personalDataForm.inszNumber.$error.gender">Het geslacht afgeleid van het rijksregisternummer verschilt van de opgegeven geboortedatum.</div>
              <div ng-if="personalDataForm.inszNumber.$error.dateOfBirth">De geboortedatum afgeleid van het rijksregisternummer verschilt van de opgegeven geboortedatum.</div>
              <div ng-if="personalDataForm.inszNumber.$error.checkDigit">Het controle getal van het rijksregisternummer is foutief.</div>
              <div ng-if="personalDataForm.inszNumber.$error.inUse">Dit rijksregisternummer is reeds in gebruik.</div>
              <div ng-if="personalDataForm.inszNumber.$error.required">Het rijksregisternummer is verplicht.</div>
              <div ng-if="personalDataForm.inszNumber.$error.inszNumber">Dit is geen geldig rijksregisternummer.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__3 field-group required"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'firstName') }">
            <label class="control-label" for="firstName">
              Voornaam
            </label>
            <input type="text" class="form-control" id="firstName" name="firstName" ng-required="true" ng-model="prc.passholder.name.first">
            <div ng-if="prc.showFieldError(personalDataForm, 'firstName')" class="text-danger small">
              <div ng-if="personalDataForm.firstName.$error.required">De voornaam is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__3 field-group required">
            <label class="control-label" for="middleName">
              Extra namen
            </label>
            <input type="text" class="form-control" id="middleName" name="middleName" ng-model="prc.passholder.name.middle">
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__3 field-group required"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'lastName') }">
            <label class="control-label" for="lastName">
              Naam
            </label>
            <input type="text" class="form-control" id="lastName" name="lastName" ng-required="true" ng-model="prc.passholder.name.last">
            <div ng-if="prc.showFieldError(personalDataForm, 'lastName')" class="text-danger small">
              <div ng-if="personalDataForm.lastName.$error.required">De naam is verplicht.</div>
            </div>
          </div>
        </div>
        <hr>
        <div class="grid">
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required"
               ng-class="{ 'has-error': (personalDataForm.$submitted || personalDataForm.dateOfBirth.$touched || personalDataForm.dateOfBirth.$dirty) && personalDataForm.dateOfBirth.$invalid }">
            <label class="control-label" for="date-of-birth">
              Geboortedatum
            </label>
            <input type="text" class="form-control" id="date-of-birth" name="dateOfBirth" ng-required="true"
                   ng-model="prc.passholder.birth.date" ubr-date-field placeholder="dd/mm/jjjj">
            <div ng-if="(personalDataForm.$submitted || personalDataForm.dateOfBirth.$touched || personalDataForm.dateOfBirth.$dirty) && personalDataForm.dateOfBirth.$invalid"
                 class="text-danger small">
              <div ng-if="personalDataForm.dateOfBirth.$error.required">De geboortedatum is verplicht.</div>
              <div ng-if="personalDataForm.dateOfBirth.$error.parse">De geboortedatum heeft een foutief formaat. <strong>dd/mm/jjjj</strong> wordt verwacht.</div>
              <div ng-if="personalDataForm.dateOfBirth.$error.inszNumber">De geboortedatum komt niet overeen met het rijksregisternummer.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'placeOfBirth') }">
            <label class="control-label" for="place-of-birth">
              Geboorteplaats
            </label>
            <input type="text" class="form-control" id="place-of-birth" name="placeOfBirth" ng-required="true" ng-model="prc.passholder.birth.place">
            <div ng-if="prc.showFieldError(personalDataForm, 'placeOfBirth')" class="text-danger small">
              <div ng-if="personalDataForm.placeOfBirth.$error.required">De geboorteplaats is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'gender') }">
            <label class="control-label">
              Geslacht
            </label>
            <div class="grid radios">
              <div class="grid__12 grid--bp-sml__6">
                <div class="radio">
                  <label>
                    <input type="radio" id="gender-male" name="gender" value="MALE" required ng-model="prc.passholder.gender"> Man
                  </label>
                </div>
              </div>
              <div class="grid__12 grid--bp-sml__6">
                <div class="radio">
                  <label>
                    <input type="radio" id="gender-female" name="gender" value="FEMALE" required ng-model="prc.passholder.gender"> Vrouw
                  </label>
                </div>
              </div>
            </div>
            <div ng-if="prc.showFieldError(personalDataForm, 'gender')" class="text-danger small">
              <div ng-if="personalDataForm.gender.$error.required">Het geslacht is verplicht.</div>
              <div ng-if="personalDataForm.gender.$error.inszNumber">Het geslacht komt niet overeen met het rijksregisternummer.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'nationality') }">
            <label class="control-label" for="nationality">
              Nationaliteit
            </label>
            <input type="text" class="form-control" id="nationality" name="nationality" ng-required="true"
                   ng-class="{ 'form-error': prc.formErrors.nationality }" ng-model="prc.passholder.nationality">
            <div ng-if="prc.showFieldError(personalDataForm, 'nationality')" class="text-danger small">
              <div ng-if="personalDataForm.nationality.$error.required">De nationaliteit is verplicht.</div>
            </div>
          </div>
        </div>
        <hr>
        <div class="grid">
          <div class="grid__12 grid--bp-med__6 field-group required"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'street') }">
            <label class="control-label" for="street">
              Straat, nummer en bus
            </label>
            <input type="text" class="form-control" id="street" name="street" ng-required="true" ng-model="prc.passholder.address.street">
            <div ng-if="prc.showFieldError(personalDataForm, 'street')" class="text-danger small">
              <div ng-if="personalDataForm.street.$error.required">De straat en nummer zijn verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-med__3 field-group required"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'postalCode') }">
            <label class="control-label" for="postal-code">
              Postcode
            </label>
            <input type="text" class="form-control" id="postal-code" name="postalCode" ng-required="true"
                   ng-model="prc.passholder.address.postalCode" ng-pattern="/^\d{4}$/" ng-change="prc.postalCodeChanged()">
            <div ng-if="prc.showFieldError(personalDataForm, 'postalCode')" class="text-danger small">
              <div ng-if="personalDataForm.postalCode.$error.required">De postcode is verplicht.</div>
              <div ng-if="personalDataForm.postalCode.$error.pattern">Dit is geen geldige postcode.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-med__3 field-group required"
               ng-class="{ 'has-error': prc.showFieldError(personalDataForm, 'city') }">
            <label class="control-label" for="city">
              Gemeente
            </label>
            <input type="text" class="form-control" id="city" name="city" ng-required="true" ng-model="prc.passholder.address.city">
            <div ng-if="prc.showFieldError(personalDataForm, 'city')" class="text-danger small">
              <div ng-if="personalDataForm.city.$error.required">De gemeente is verplicht.</div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a class="btn btn-link pull-left" ng-click="prc.close()">Annuleren</a>
    <input type="button" class="btn btn-default modal-next" ng-disabled="prc.formSubmitBusy"
            ng-click="prc.submitPersonalDataForm(personalDataForm)" value="Volgende">
  </div>
</form>
