<form name="passholderRegisterPersonalData" ng-submit="prc.submitPersonalDataForm(passholderRegisterPersonalData)"
      novalidate ubr-insz-number-validation ng-disabled="prc.formSubmitBusy">
  <div class="modal-body">
    <div class="container-fluid">
      <fieldset ng-disabled="prc.formSubmitBusy">
        <div class="grid">
          <div class="grid__12 grid--bp-lrg__12">
            <div class="alert alert-danger" type="{{prc.formAlert.type}}" ng-show="prc.formAlert" ng-bind="prc.formAlert.message"></div>
          </div>
          <div class="grid__12 grid--bp-lrg__3 field-group" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.inszNumber.$touched) && passholderRegisterPersonalData.inszNumber.$invalid }">
            <label class="control-label" for="insz-number">
              Rijksregisternummer
            </label>
            <input type="text" class="form-control" id="insz-number" required name="inszNumber" ng-model="prc.passholder.inszNumber">
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.inszNumber.$touched || passholderRegisterPersonalData.inszNumber.$dirty) && passholderRegisterPersonalData.inszNumber.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.inszNumber.$error.gender">Het geslacht afgeleid van het rijksregisternummer verschilt van de opgegeven geboortedatum.</div>
              <div ng-if="passholderRegisterPersonalData.inszNumber.$error.dateOfBirth">De geboortedatum afgeleid van het rijksregisternummer verschilt van de opgegeven geboortedatum.</div>
              <div ng-if="passholderRegisterPersonalData.inszNumber.$error.checkDigit">Het controle getal van het rijksregisternummer is foutief.</div>
              <div ng-if="passholderRegisterPersonalData.inszNumber.$error.inUse">Dit rijksregisternummer is reeds in gebruik.</div>
              <div ng-if="passholderRegisterPersonalData.inszNumber.$error.required">het rijksregisternummer is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__3 field-group required" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.firstName.$touched) && passholderRegisterPersonalData.firstName.$invalid }">
            <label class="control-label" for="firstName">
              Voornaam
            </label>
            <input type="text" class="form-control" id="firstName" name="firstName" ng-required="true" ng-model="prc.passholder.name.first">
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.firstName.$touched) && passholderRegisterPersonalData.firstName.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.firstName.$error.required">De voornaam is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__3 field-group required">
            <label class="control-label" for="middleName">
              Extra namen
            </label>
            <input type="text" class="form-control" id="middleName" name="middleName" ng-model="prc.passholder.name.middle">
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__3 field-group required" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.lastName.$touched) && passholderRegisterPersonalData.lastName.$invalid }">
            <label class="control-label" for="lastName">
              Naam
            </label>
            <input type="text" class="form-control" id="lastName" name="lastName" ng-required="true" ng-model="prc.passholder.name.last">
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.lastName.$touched) && passholderRegisterPersonalData.lastName.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.lastName.$error.required">De naam is verplicht.</div>
            </div>
          </div>
        </div>
        <hr>
        <div class="grid">
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required"
               ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.dateOfBirth.$touched || passholderRegisterPersonalData.dateOfBirth.$dirty) && passholderRegisterPersonalData.dateOfBirth.$invalid }">
            <ubr-datepicker ng-model="prc.passholder.birth.date" ubr-label="Geboortedatum" ubr-id="date-of-birth"
                            name="dateOfBirth"></ubr-datepicker>
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.dateOfBirth.$touched || passholderRegisterPersonalData.dateOfBirth.$dirty) && passholderRegisterPersonalData.dateOfBirth.$invalid"
                 class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.dateOfBirth.$error.required">De geboortedatum is verplicht.</div>
              <div ng-if="passholderRegisterPersonalData.dateOfBirth.$error.date">De geboortedatum heeft een foutief formaat. <strong>dd/mm/jjjj</strong> wordt verwacht.</div>
              <div ng-if="passholderRegisterPersonalData.dateOfBirth.$error.inszNumber">De geboortedatum komt niet overeen met het rijksregisternummer.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.placeOfBirth.$touched) && passholderRegisterPersonalData.placeOfBirth.$invalid }">
            <label class="control-label" for="place-of-birth">
              Geboorteplaats
            </label>
            <input type="text" class="form-control" id="place-of-birth" name="placeOfBirth" ng-required="true" ng-model="prc.passholder.birth.place">
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.placeOfBirth.$touched) && passholderRegisterPersonalData.placeOfBirth.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.placeOfBirth.$error.required">De geboorteplaats is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.gender.$touched) && passholderRegisterPersonalData.gender.$invalid }">
            <label class="control-label">
              Geslacht
            </label>
            <div class="grid radios">
              <div class="grid__12 grid--bp-sml__6">
                <div class="radio">
                  <label>
                    <input type="radio" id="gender-male" name="gender" value="MALE" required ng-model="prc.passholder.gender"> Man
                  </label>
                </div>
              </div>
              <div class="grid__12 grid--bp-sml__6">
                <div class="radio">
                  <label>
                    <input type="radio" id="gender-female" name="gender" value="FEMALE" required ng-model="prc.passholder.gender"> Vrouw
                  </label>
                </div>
              </div>
            </div>
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.gender.$touched || passholderRegisterPersonalData.gender.$dirty) && passholderRegisterPersonalData.gender.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.gender.$error.required">Het geslacht is verplicht.</div>
              <div ng-if="passholderRegisterPersonalData.gender.$error.inszNumber">Het geslacht komt niet overeen met het rijksregisternummer.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.nationality.$touched) && passholderRegisterPersonalData.nationality.$invalid }">
            <label class="control-label" for="nationality">
              Nationaliteit
            </label>
            <input type="text" class="form-control" id="nationality" name="nationality" ng-required="true" ng-class="{ 'form-error': prc.formErrors.nationality }" ng-model="prc.passholder.nationality">
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.nationality.$touched || passholderRegisterPersonalData.nationality.$dirty) && passholderRegisterPersonalData.nationality.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.nationality.$error.required">De nationaliteit is verplicht.</div>
            </div>
          </div>
        </div>
        <hr>
        <div class="grid">
          <div class="grid__12 grid--bp-med__6 field-group required" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.street.$touched) && passholderRegisterPersonalData.street.$invalid }">
            <label class="control-label" for="street">
              Straat, nummer en bus
            </label>
            <input type="text" class="form-control" id="street" name="street" ng-required="true" ng-model="prc.passholder.address.street">
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.street.$touched) && passholderRegisterPersonalData.street.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.street.$error.required">De straat en nummer zijn verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-med__3 field-group required" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.postalCode.$touched) && passholderRegisterPersonalData.postalCode.$invalid }">
            <label class="control-label" for="postal-code">
              Postcode
            </label>
            <input type="text" class="form-control" id="postal-code" name="postalCode" ng-required="true" ng-model="prc.passholder.address.postalCode">
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.postalCode.$touched) && passholderRegisterPersonalData.postalCode.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.postalCode.$error.required">De postcode is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-med__3 field-group required" ng-class="{ 'has-error': (passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.city.$touched) && passholderRegisterPersonalData.city.$invalid }">
            <label class="control-label" for="city">
              Gemeente
            </label>
            <input type="text" class="form-control" id="city" name="city" ng-required="true" ng-model="prc.passholder.address.city">
            <div ng-if="(passholderRegisterPersonalData.$submitted || passholderRegisterPersonalData.city.$touched) && passholderRegisterPersonalData.city.$invalid" class="text-danger small">
              <div ng-if="passholderRegisterPersonalData.city.$error.required">De gemeente is verplicht.</div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a class="btn btn-link pull-left" ng-click="prc.close()">Annuleren</a>
    <button type="submit" class="btn btn-default modal-next" ng-disabled="prc.formSubmitBusy"
            ng-click="prc.submitPersonalDataForm(passholderRegisterPersonalData)">Volgende</button>
  </div>
</form>
