<form name="editForm" ng-submit="ekmc.updateKansenstatuut(editForm)" novalidate ng-class="{'form-submiting': ekmc.updatePending}">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ekmc.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Medewerker toevoegen</h4>
  </div>
  <div class="modal-body">

    <div class="alert alert-danger" ng-show="ekmc.asyncError">
      <span ng-bind="ekmc.asyncError.message"></span>
    </div>

    <div class="container-fluid">
      <fieldset ng-disabled="cmmc.creationPending">
        <div class="grid">
          <div class="grid__12 grid--bp-lrg__12">
            <p>Zoek de medewerker die je wil toevoegen via zijn/haar e-mailadres.</p>
          </div>
          <div class="grid__12 grid--bp-lrg__6 field-group">
            <label for="member-email-address">e-mailadres</label>
            <input type="text" id="member-email-address"/>
          </div>
        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a class="btn btn-default" ng-click="cmmc.cancelModal()">sluiten</a>
    <button type="button" class="btn btn-primary" ng-disabled="cmmc.creationPending"
            ng-click="cmmc.createMembership(editForm)">
      <span ng-hide="cmmc.creationPending">Toevoegen</span>
      <span ng-show="cmmc.creationPending"><span class="fa fa-refresh loading small"></span> Medewerker wordt toegevoegd</span>
    </button>
  </div>
</form>
