<form name="newMembershipForm" novalidate ng-class="{'form-submiting': cmmc.creationPending}" ng-submit="cmmc.createMembership(newMembershipForm)">

  <div class="modal-header">
    <button type="button" class="close" ng-click="cmmc.cancelCreation()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Medewerker toevoegen</h4>
  </div><!-- end modal-header -->

  <div class="modal-body">
    <div class="alert alert-danger" ng-show="cmmc.asyncError">
      <span ng-bind-html="cmmc.asyncError.message"></span>
    </div>

    <div class="container-fluid">
      <fieldset ng-disabled="cmmc.creationPending">
        <div class="grid">
          <div class="grid__12 grid--bp-lrg__12">
            <p>Zoek de medewerker die je wil toevoegen via zijn/haar e-mailadres.</p>
          </div>
          <div class="grid__12 grid--bp-lrg__6 field-group"
               ng-class="{ 'has-error': (newMembershipForm.$submitted || newMembershipForm.email.$dirty) && newMembershipForm.email.$invalid }">
            <label for="member-email-address">E-mailadres</label>
            <input type="email" id="member-email-address" ng-model="cmmc.email" name="email" ng-required="true" autofocus=""/>
            <p ng-show="newMembershipForm.email.$invalid && !newMembershipForm.email.$pristine" class="help-block">Vul een geldig e-mail adres in.</p>
          </div>
        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->

  <div class="modal-footer">
    <a ng-click="cmmc.cancelCreation()">Annuleren</a>
    <button type="button" class="btn btn-primary" ng-disabled="cmmc.creationPending || newMembershipForm.$invalid"
            ng-click="cmmc.createMembership(newMembershipForm)">
      <span ng-hide="cmmc.creationPending">Toevoegen</span>
      <span ng-show="cmmc.creationPending">
        <span class="fa fa-refresh loading small"></span> Medewerker wordt toegevoegd
      </span>
    </button>
  </div><!-- end modal-footer -->

</form>
