<section class="overview overview-counter-memberships">
  <h2 class="overview__title">Actieve Gebruikers</h2>

  <div class="overview__loading" ng-if="cmc.loadingMembers">
    <div class="spinner spinner-small">
      <circle-spinner></circle-spinner>
    </div>
  </div>

  <ul class="list-unstyled" ng-if="!cmc.loadingMembers">
    <li class="overview__item overview__item-list overview__item-list-small" ng-repeat="member in cmc.members">
      <div class="row clearfix">
        <div class="grid__12 grid--bp-med__3 grid--bp-lrg__4">
          <strong ng-bind="::member.nick"></strong><br>
          <span ng-bind="::member.uid"></span>
        </div>
        <div class="grid__10 grid--bp-med__6 grid--bp-lrg__4">
          <span ng-bind="member.role"></span>
        </div>
        <div class="grid__2 grid--bp-med__3 grid--bp-lrg__4">
          <button type="button" class="btn btn-default">Verwijderen</button>
        </div>
      </div>
    </li>
  </ul>

  <p><a class="btn btn-primary" ng-click="cmc.createMembership()">Medewerker toevoegen</a></p>
</section>
