<section class="overview overview-counter-memberships">
  <h2 class="overview__title">Actieve Gebruikers</h2>

  <div class="overview__loading" ng-if="cmc.loadingMembers">
    <div class="spinner spinner-small">
      <circle-spinner></circle-spinner>
    </div>
  </div>

  <div ng-show="cmc.deletedMember && !cmc.loadingMembers" class="alert alert-success">
    De medewerker <em>{{cmc.deletedMember.nick}}</em> is verwijderd.
  </div>
  <div ng-show="cmc.newMember && !cmc.loadingMembers" class="alert alert-success">
    De medewerker <em>{{cmc.newMember.nick}}</em> is toegevoegd.
  </div>

  <div ng-show="cmc.noMembersError" class="alert alert-danger">
    Er kunnen geen medewerkers opgehaald worden voor deze balie.
  </div>

  <ul class="list-unstyled" ng-if="!cmc.loadingMembers">
    <li class="overview__item overview__item-list overview__item-list-small" ng-repeat="member in cmc.members">
      <div class="row clearfix">
        <div class="grid__12 grid--bp-med__4">
          <strong ng-bind="::member.nick"></strong><br>
          <span ng-bind="::member.uid"></span>
        </div>
        <div class="grid__6 grid--bp-med__5 grid--bp-lrg__4">
          <span ng-bind="::member.role"></span>
        </div>
        <div class="grid__6 grid--bp-med__3 grid--bp-lrg__4">
          <div class="actions actions-do"
               ng-hide="member.deleting || member.confirmingDelete || member.deleteError || member.role !== 'MEMBER'">
            <button type="button" class="btn btn-default" ng-click="cmc.initiateDelete(member)">Verwijderen</button>
          </div>
          <div ng-show="member.confirmingDelete" class="actions actions-confirm">
            <a ng-click="cmc.cancelDelete(member)">Annuleren</a>
            <button class="btn btn-default" ng-click="cmc.deleteMember(member)">Bevestigen</button>
          </div>
          <div ng-show="member.deleting" class="alert alert-info small">
            <span class="fa fa-refresh loading"></span> Even geduld...
          </div>
          <div ng-show="member.deleteError" class="alert alert-danger small">
            Er is een fout opgetreden bij het verwijderen van deze medewerker. Gelieve later opnieuw te proberen.
          </div>
        </div>
      </div>
    </li>
  </ul>

  <p><a class="btn btn-primary" ng-click="cmc.createMembership()">Medewerker toevoegen</a></p>
</section>
