<section class="overview overview-activities">
  <h2 class="overview__title">Activiteiten</h2>
  <div class="grid overview__search">
    <div class="grid__12 grid--bp-med__6">
      <div class="btn-group" uib-dropdown ng-hide="ac.hideDateRange && !ac.activitiesLoading">
        <button id="split-button" type="button" class="btn btn-default" ng-bind="ac.dateRange.label"></button>
        <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="!!ac.activitiesLoading">
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
          <li role="menuitem">
            <a href ng-click="ac.updateDateRange(ac.dateRanges.TODAY)">Vandaag</a>
          </li>
          <li role="menuitem">
            <a href ng-click="ac.updateDateRange(ac.dateRanges.NEXT_7_DAYS)">Volgende 7 dagen</a>
          </li>
          <li role="menuitem">
            <a href ng-click="ac.updateDateRange(ac.dateRanges.NEXT_30_DAYS)">Volgende 30 dagen</a>
          </li>
          <li role="menuitem">
            <a href ng-click="ac.updateDateRange(ac.dateRanges.NEXT_12_MONTHS)">Volgende 12 maanden</a>
          </li>
          <li class="divider"></li>
          <li role="menuitem">
            <a href ng-click="ac.updateDateRange(ac.dateRanges.PAST)">Afgelopen activiteiten</a>
          </li>
        </ul>
      </div>
      <div ng-show="ac.hideDateRange && !ac.activitiesLoading">
        <strong><ng-pluralize count="ac.totalActivities"
                      when="{'one': '1 resultaat gevonden', 'other': '{} resultaten gevonden'}">
        </ng-pluralize> </strong> <a ng-click="ac.resetSearchQuery()">Annuleren</a>
      </div>
    </div>
    <div class="grid__12 grid--bp-med__6 text-right">
      <div class="search">
        <form ng-submit="ac.searchParametersChanged()">
            <input class="form-control" type="text" ng-model="ac.query" />
            <button class="btn btn-ghost-dark" ng-click="ac.searchParametersChanged()" ng-disabled="!!ac.activitiesLoading">
              Zoeken
            </button>
        </form>
      </div>
    </div>
  </div>

  <div class="overview__loading" ng-show="ac.activitiesLoading">
    <div class="spinner spinner-small">
      <circle-spinner></circle-spinner>
    </div>
  </div>

  <div class="text-muted" ng-if="!ac.activitiesLoading && !ac.totalActivities">Geen activiteiten gepland.</div>

  <ul class="list-unstyled" ng-if="!ac.activitiesLoading && ac.totalActivities > 0">
    <li class="overview__item overview__item-list" ng-repeat="activity in ac.activities">
      <div class="grid display-table">
        <div class="grid__12 grid--bp-med__6 first">
          <div class="date" ng-bind="::activity.when"></div>
          <h3 ng-if="ac.activityMode == 'passholders'" ui-sref="counter.main.passholder.activity({ activity: activity })">{{activity.title}}</h3>
          <h3 ng-if="ac.activityMode == 'counter'" ui-sref="counter.main.advancedSearch.bulkPoints.activity({ activity: activity })">{{activity.title}}</h3>

        </div> <!--/ end .grid-first -->

        <div class="grid__12 grid--bp-med__3 middle">
          <!--status start-->
          <div class="content-holder" ng-switch="activity.getCheckinState().name" ng-if="!activity.checkinFailed && !activity.checkinBusy">
            <i ng-switch-when="already checked in">Punten gespaard</i>
            <i ng-switch-when="not yet available">
              Sparen mogelijk vanaf <span ng-bind="::activity.checkinConstraint.startDate | date:'dd/MM/yyyy'"></span> om <span ng-bind="::activity.checkinConstraint.startDate | date:'H:mm'"></span>
            </i>
            <i ng-switch-when="expired">Evenement afgelopen</i>
            <div ng-switch-when="available">
              <div class="points">+<span ng-bind="::activity.points"></span></div>
              <button ng-if="ac.activityMode == 'passholders'" class="btn btn-default btn-sm" ng-click="ac.checkin(activity)">Punten sparen</button>
              <button ng-if="ac.activityMode == 'counter'" ng-click="ac.bulkCheckin(activity)" class="btn btn-default btn-sm" >Punten sparen</button>
            </div>
          </div>
          <!--status failed-->
          <div class="content-holder" ng-if="activity.checkinFailed && !activity.checkinBusy">
            <i class="error">Het sparen van punt(en) voor <span ng-bind="::activity.title"></span> is niet gelukt.</i>
          </div>
          <!--status busy-->
          <div class="content-holder" ng-if="!activity.checkinFailed && activity.checkinBusy">
            <div class="spinner spinner-xsmall">
              <circle-spinner></circle-spinner>
            </div>
          </div>

        </div> <!--/ end .grid-middle -->
        <div class="grid__12 grid--bp-med__3 last">
          <!--status busy-->
          <div class="content-holder" ng-show="activity.tariffClaimInProgress && !activity.tariffClaimError">
            <div class="spinner spinner-xsmall">
              <circle-spinner></circle-spinner>
            </div>
          </div>
          <!--status error-->
          <div class="content-holder" ng-show="!activity.tariffClaimInProgress && activity.tariffClaimError">
            <i class="error">{{activity.tariffClaimError.message}}</i>
          </div>
          <!--status start-->
          <div class="content-holder" ng-show="!activity.tariffClaimInProgress && !activity.tariffClaimError">

            <div ng-show="ac.isActivityClaimed(activity)">
              <i class="tariff-applied">Tarief toegekend<br><a class="history-modal small" ui-sref="counter.main.passholder.ticketSales()">Historiek</a></i>
            </div>
            <div ng-show="!ac.isActivityClaimed(activity)" ng-switch="activity.getTariff()">
              <i class="free-event" ng-switch-when="free">Gratis</i>
              <i class="tariff-applied" ng-switch-when="maximumReached">Maximum toegelaten aantal tickets bereikt<br><a class="history-modal small" ui-sref="counter.main.passholder.ticketSales()">Historiek</a></i>
              <div class="price-differentiation" ng-switch-when="priceDifferentiation">
                <small>vanaf</small><br><strong>&euro; {{::activity.sales.tariffs.lowestAvailable}}</strong>
                <a ng-if="ac.activityMode == 'passholders'" class="btn btn-default btn-sm tariff-modal" ui-sref="counter.main.passholder.activityTariffs({ activity: activity, activityMode: ac.activityMode })">Tarief kiezen</a>
                <a ng-if="ac.activityMode == 'counter'" class="btn btn-default btn-sm tariff-modal" ui-sref="counter.main.advancedSearch.bulkPoints.activityTariffs({ activity: activity, activityMode: ac.activityMode, passholders: ac.passholders, passholder: ac.passholder})">Tarief kiezen</a>
              </div>
              <div class="kansen-tariff" ng-switch-when="kansenTariff" ng-hide="activity.tariffClaimInProgress">
                <strong>&euro; {{::activity.sales.tariffs.lowestAvailable}}</strong><br><small>aan kansentarief</small>
                <a ng-if="ac.activityMode == 'passholders'" class="btn btn-default btn-sm assign-tariff" ng-click="ac.claimTariff(activity.sales.tariffs.list[0], activity)" >Tarief toekennen</a>
                <a ng-if="ac.activityMode == 'counter'" class="btn btn-default btn-sm assign-tariff" ng-click="ac.bulkClaimTariff(activity.sales.tariffs.list[0], activity)" >Tarief toekennen</a>
              </div>
              <div class="coupon" ng-switch-when="coupon" ng-init="tariffCoupon = activity.getRedeemableCoupons()[0]">
                <strong>&euro; {{::activity.sales.tariffs.lowestAvailable}}</strong><br>
                <small ng-bind="::tariffCoupon.name"></small>
                <a class="btn btn-default btn-sm assign-tariff" ng-click="ac.claimTariff(tariffCoupon, activity)" >Tarief toekennen</a>
              </div>
              <div class="base-tariff" ng-switch-default>
                <strong>&euro; {{::activity.sales.base.Basisprijs}}</strong><br>
                <small>Voor deze activiteit is er geen kortingstarief</small>
              </div>
            </div>

          </div>

        </div> <!--/ end .grid-last -->
      </div> <!--/ end .grid -->

    </li>
  </ul>

  <uib-pagination class="pagination"
              total-items="ac.totalActivities"
              ng-model="ac.page"
              items-per-page="ac.limit"
              ng-change="ac.searchParametersChanged()"
              max-size="10"
              previous-text="&lsaquo; Vorige"
              next-text="Volgende &rsaquo;"
              ng-show="ac.totalActivities > ac.limit">
  </uib-pagination>

</section>
