<form name="passholderActivityTariffs" ng-submit="pat.claimTariff(pat.passholder, pat.activity)"
      novalidate ng-class="{'form-submiting': pat.formSubmitBusy}">
  <div class="modal-header">
    <button type="button" class="close" ng-click="pat.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Prijzen</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid table-responsive">
      <div class="activity-title" ng-bind="::pat.activity.title"></div>
      <div class="alert alert-danger" ng-show="pat.asyncError" ng-bind="pat.asyncError.cleanMessage"></div>
      <fieldset ng-disabled="pat.formSubmitBusy">
        <table class="table">
          <thead><th></th><th ng-repeat="(rank, value) in ::pat.activity.sales.base" ng-bind="::rank | characters:33" ng-attr-title="{{::rank}}"></th></thead>
          <tbody>
            <tr class="base">
              <th title="Basistarief">Basistarief</th>
              <td ng-repeat="value in ::pat.activity.sales.base">&euro; {{::value}}</td>
            </tr>
            <tr ng-repeat="(tKey, tariff) in ::pat.activity.sales.tariffs.list"
                ng-class="tariff.type === 'COUPON' ? 'coupon' : 'kansen-tariff'">
              <th ng-attr-title="{{::tariff.name}}">{{::tariff.name}}</th>
              <td ng-repeat="priceInfo in ::tariff.prices" ng-class="{'lowest': (priceInfo.price === pat.activity.sales.tariffs.lowestAvailable && !tariff.maximumReached)}">
                <label for="price-{{::tKey}}-{{::priceInfo.priceClass}}" ng-if="!tariff.maximumReached">
                  <input type="radio" name="tariff" id="price-{{::tKey}}-{{::priceInfo.priceClass}}" ng-model="pat.selectedTariff"
                         required ng-value="priceInfo" ng-change="pat.clearAsyncError()">
                  <span class="price">&euro; {{::priceInfo.price}}</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="grid">
          <div class="grid__12 grid--bp-lrg__4">
            <div class="lowest-legend small"><em>Laagste tarief</em></div>
          </div>

          <div ng-if="pat.groupSale">
            <div class="grid__12 grid--bp-lrg__4">
              <label for="tariff-ticket-count">Aantal personen</label><br>
              <input type="text" value="1" ng-model="pat.groupSale.tickets" min="1" max="{{pat.groupSale.maxTickets}}"
                     ng-touch-spin id="tariff-ticket-count" name="ticketCount" ng-change="pat.clearAsyncError()">
            </div>

            <div class="grid__12 grid--bp-lrg__4">
              <strong>Totaal</strong><br>
              <span ng-if="pat.selectedTariff">&euro; {{pat.groupSale.getTotalPrice()}}</span>
              <span ng-if="!pat.selectedTariff">selecteer een tarief</span>
            </div>
          </div>

        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a class="btn btn-link" ng-click="pat.cancelModal()">Annuleren</a>
    <button type="button" class="btn btn-primary pull-right" ng-disabled="pat.formSubmitBusy || passholderActivityTariffs.$invalid"
            ng-click="pat.claimTariff(pat.passholder, pat.activity, passholderActivityTariffs)">
      <span ng-hide="pat.formSubmitBusy">Tarief toekennen</span>
            <span ng-show="pat.formSubmitBusy">
              <span class="fa fa-refresh loading small"></span> Formulier wordt verzonden
            </span>
    </button>
  </div>
</form>
