<form name="passholderActivityTariffs" ng-submit="pat.claimTariff(pat.passholder, pat.activity)"
      novalidate ng-class="{'form-submiting': pat.formSubmitBusy}">
  <div class="modal-header">
    <button type="button" class="close" ng-click="pat.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Prijzen</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="activity-title" ng-bind="::pat.activity.title"></div>
      <ng-pluralize ng-if="pat.activityMode == 'counter'" class="count-pashouders" count="pat.passholders.length" when="{'0': 'geen pashouders geselecteerd', '1': '{} pashouder geselecteerd', 'other': '{} pashouders geselecteerd'}"></ng-pluralize>
      <div class="alert alert-danger" ng-show="pat.asyncError" ng-bind="pat.asyncError.cleanMessage"></div>
      <fieldset ng-disabled="pat.formSubmitBusy">
        <table class="table" ng-class="{'table-mobile': pat.sizeOff(pat.activity.sales.base) > 3}">
          <thead><th></th><th ng-repeat="(rank, value) in ::pat.activity.sales.base" ng-bind="::rank"></th></thead>
          <tbody>
            <tr class="base">
              <th title="Basistarief">Basistarief</th>
              <td data-title="{{key}}" ng-repeat="(key, value) in ::pat.activity.sales.base">
                <label class="value" for="price-base-{{::key}}" ng-if="!tariff.maximumReached">
                  <input type="radio" name="tariff" id="price-base-{{::key}}" ng-model="pat.selectedTariff"
                         required ng-value="{priceClass: key, price: value}" ng-change="pat.clearAsyncError()">
                  <span class="price">&euro; {{::value}}</span>
                </label>
              </td>
<!--              <td data-title="{{key}}" ng-repeat="(key, value) in ::pat.activity.sales.base"><span class="value">&euro; {{::value}}</span></td>-->
            </tr>
            <tr ng-repeat="(tKey, tariff) in ::pat.activity.sales.tariffs.list"
                ng-class="{ 'coupon': tariff.type === 'COUPON', 'kansen-tariff': tariff.type !== 'COUPON', 'coupon-unavailable': tariff.maximumReached }">
              <th>
                {{tariff.name}}
                <em ng-if="tariff.maximumReached"><br>Niet meer beschikbaar voor deze activiteit</em>
              </th>
              <td data-title="{{::priceInfo.priceClass}}" ng-repeat="priceInfo in ::tariff.prices" ng-class="{'lowest': (priceInfo.price === pat.activity.sales.tariffs.lowestAvailable && !tariff.maximumReached)}">
                <label class="value" for="price-{{::tKey}}-{{::priceInfo.priceClass}}" ng-if="!tariff.maximumReached">
                  <input type="radio" name="tariff" id="price-{{::tKey}}-{{::priceInfo.priceClass}}" ng-model="pat.selectedTariff"
                         required ng-value="priceInfo" ng-change="pat.clearAsyncError()">
                  <span class="price">&euro; {{::priceInfo.price}}</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="grid">
          <div class="grid__12 grid--bp-lrg__4">
            <div class="lowest-legend small"><em>Laagste tarief</em></div>
          </div>
          <div ng-if="pat.activityMode == 'counter'" class="grid__12 grid--bp-lrg__8">
            <div class="total-amount pull-right">
              <span><strong>Geschat totaal </strong>&euro; {{ pat.totalAmount }} *</span><br />
              <span class="small muted">* De precieze prijs wordt hierna berekend.</span>
            </div>
          </div>

          <div ng-if="pat.groupSale">
            <div class="grid__12 grid--bp-lrg__4">
              <label for="tariff-ticket-count">Aantal personen</label><br>
              <input type="text" value="1" ng-model="pat.groupSale.tickets" min="1" max="{{pat.groupSale.maxTickets}}"
                     ng-touch-spin id="tariff-ticket-count" name="ticketCount" ng-change="pat.clearAsyncError()"
                     step-interval="{{1000}}"
              >
            </div>

            <div class="grid__12 grid--bp-lrg__4">
              <strong>Totaal</strong><br>
              <span ng-if="pat.selectedTariff">&euro; {{pat.groupSale.getTotalPrice()}}</span>
              <span ng-if="!pat.selectedTariff">selecteer een tarief</span>
            </div>
          </div>

        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a class="btn btn-link" ng-click="pat.cancelModal()">Annuleren</a>
    <button ng-if="pat.activityMode == 'passholders' || pat.activityMode == 'group'" type="button" class="btn btn-primary pull-right" ng-disabled="pat.formSubmitBusy || passholderActivityTariffs.$invalid"
            ng-click="pat.claimTariff(pat.passholder, pat.activity, passholderActivityTariffs)">
      <span ng-hide="pat.formSubmitBusy">Tarief toekennen</span>
            <span ng-show="pat.formSubmitBusy">
              <span class="fa fa-refresh loading small"></span> Formulier wordt verzonden
            </span>
      </button>
    <button ng-if="pat.activityMode == 'counter'" type="button" class="btn btn-primary pull-right" ng-disabled="pat.formSubmitBusy || passholderActivityTariffs.$invalid"
              ng-click="pat.bulkClaimTariff()">
      <span ng-hide="pat.formSubmitBusy">Tarief toekennen</span>
            <span ng-show="pat.formSubmitBusy">
              <span class="fa fa-refresh loading small"></span> Formulier wordt verzonden
            </span>
    </button>
  </div>
</form>
