<div class="modal-header">
  <button type="button" class="close" ng-click="padc.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{padc.advantage.title}}</h4>
</div>
<div class="modal-body modal-body-sticky">
  <dl>
    <dt>Nodige punten</dt>
    <dd></dd>
    <dt>Omruilperiode</dt>
    <dd></dd>
    <dt>Aangeboden door</dt>
    <dd></dd>
    <dt>Beschrijving & Voorwaarden</dt>
    <dd></dd>
  </dl>


</div><!-- end modal-body -->
<div class="modal-footer">
  <a ng-click="padc.cancelModal()">Sluiten</a>
</div>
