<div class="back-nav">
  <a ui-sref="counter.main">Terug</a>
</div>
<div class="passholder passholder-number">
  <label>NR.</label> <span ng-bind="::gdc.group.passNumber | passNumber"></span>
</div>
<div class="passholder passholder-data passholder-group">
  <h3>Gegevens</h3>
  <div class="passholder-group-name">
    <span class="icon icon--card-group"></span>
    <p>
      <strong>Groepspas</strong><br>
      <span ng-bind="::gdc.group.name"></span>
    </p>

  </div>
</div>
<div class="passholder passholder-points passholder-group-points remaining-tickets">
  <h3>Resterende beurten</h3>

  <span class="label label-points" ng-bind="gdc.group.availableTickets"></span>
</div>

<div class="passholder passholder-coupons">
  <h3><i class="fa fa-ticket"></i> Bonnen</h3>
  <div class="overview__loading" ng-show="gdc.couponsLoading">
    <div class="spinner spinner-small">
      <circle-spinner></circle-spinner>
    </div>
  </div>

  <ul class="list-group" ng-hide="gdc.couponsLoading">
    <li class="list-group-item" ng-repeat="coupon in gdc.coupons"><a ui-sref="counter.main.group.coupon({ coupon: coupon })">{{coupon.name}}</a></li>
  </ul>
</div>
