<div class="back-nav">
  <a ui-sref="counter.main">Terug</a>
</div>
<div class="passholder passholder-number">
  <label>NR.</label> <span ng-bind="::gdc.group.passNumber"></span>
</div>
<div class="passholder passholder-data passholder-group">
  <h3>Gegevens</h3>
  <div class="passholder-group-name">
    <span class="icon icon--card-group"></span>
    <p>
      <strong>Groepspas</strong><br>
      <span ng-bind="::gdc.group.name"></span>
    </p>

  </div>
</div>
<div class="passholder passholder-points passholder-group-points remaining-tickets">
  <h3>Resterende beurten</h3>

  <span class="label label-points" ng-bind="gdc.availableTickets"></span>
</div>
