<div class="modal-header">
    <button type="button" class="close" ng-click="tsc.cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title">Historiek verkochte tickets aan UiTPAS-tarief</h4>
</div>
<div class="modal-body">
  <div class="alert alert-info">
    Hier vind je een chronologisch overzicht van de verkochte tickets van {{tsc.passholder.getFullName()}} aan deze balie.
      Voor een volledig overzicht bij alle balies kan de pashouder terecht op uitinvlaanderen.be.
  </div>
  <div class="panel scroll-area">
    <div class="panel-body">
        <div ng-if="!tsc.ticketSales">
            <p>Deze gebruiker heeft nog geen tickets gekocht aan kansentarief.</p>
        </div>
        <div ng-if="tsc.ticketSales">
            <div class="slats">
                <div class="slats-item" ng-repeat="ticketsale in tsc.ticketSales">
                    <div class="grid display-table">
                        <div class="grid__12 grid--bp-xsm__3"><p>{{ticketsale.creationDate | date: 'dd/MM/yyyy'}}</p></div>
                        <div class="grid__12 grid--bp-xsm__7">
                            <p><strong>{{ticketsale.eventTitle}}</strong></p>
                            <p>
                                <span ng-if="ticketsale.price > 0">€ {{ticketsale.price}}</span>
                                <span ng-if="ticketsale.price == 0">gratis</span>

                                <span ng-if="!ticketsale.coupon">
                                    <em>aan kansentarief</em>
                                </span>
                                <span ng-if="ticketsale.coupon">
                                    <em>met <i class="fa fa-ticket"></i> {{ticketsale.coupon.name}}</em>
                                </span>
                            </p>
                        </div>
                        <div class="grid__12 grid--bp-xsm__2">
                            <p><a class="btn btn-link">Annuleren</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <a ng-click="tsc.cancel()">Sluiten</a>
</div>
