<div class="modal-header">
  <button type="button" class="close" ng-click="phc.cancel()" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title">Historiek</h4>
</div>
<div class="modal-body points-history">
  <div class="alert alert-info">
    Hier vind je een chronologisch overzicht voor <span ng-bind="phc.passholder.getFullName()"></span> aan deze balie: 
    <ul>
  <li>De gespaarde punten aan deze balie in het voorbije jaar.</li>
  <li>Alle opgenomen voordelen (ook bij andere balies) in het voorbije jaar.</li>
</ul>
De pashouder kan de volledige puntenhistoriek terugvinden in de UiTPAS-app.
  </div>

  <div class="panel scroll-area">
    <div class="panel-body">
      <div class="overview__loading" ng-show="phc.pointHistoryLoading">
        <div class="spinner spinner-small">
          <circle-spinner></circle-spinner>
        </div>
      </div>
      <div ng-show="!phc.pointHistoryLoading && phc.pointHistory.length === 0">
        <p class="alert alert-warning">Er zijn geen historiek items voor <span ng-bind="phc.passholder.getFullName()"></span>.</p>
      </div>
      <div class="history-item" ng-repeat="pointHistoryItem in phc.pointHistory | orderBy: '-date'">
        <div class="grid">
          <div class="grid--bp-xsm__3">
            <p ng-bind="::pointHistoryItem.date"></p>
          </div>
          <div class="grid--bp-xsm__6">
            <p><strong><span ng-bind="::pointHistoryItem.title"></span></strong></p>
          </div>
          <div class="grid--bp-xsm__3">
            <p>
              <span class="activity__points point__increase"ng-if="pointHistoryItem.points > 0">
                +<span ng-bind="::pointHistoryItem.points"></span>
              </span>
              <span class="activity__points point__decrease" ng-if="pointHistoryItem.points < 0" ng-bind="::pointHistoryItem.points"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a ng-click="phc.cancel()" class="btn btn-primary">Sluiten</a>
</div>
