<div class="modal-header">
    <button type="button" class="close" ng-click="tsc.cancel()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  <h4 class="modal-title">Historiek verkochte tickets aan UiTPAS-tarief</h4>
</div>
<div class="modal-body">
  <div class="alert alert-info">
    Hier vind je een chronologisch overzicht van de verkochte tickets van
    <span ng-bind="::tsc.passholder.getFullName()"></span> aan deze balie.
    Activiteiten aan een andere balie kunnen daar ter plekke opgevraagd worden.
  </div>
  <div class="panel panel-default scroll-area">
    <div class="panel-body">
      <div ng-if="(tsc.ticketSales.length === 0 && !tsc.ticketSalesLoading)">
        <p>Deze gebruiker heeft nog geen tickets gekocht met korting.</p>
      </div>
      <div ng-if="tsc.ticketSalesLoading">
        <div class="spinner spinner-xsmall">
          <circle-spinner></circle-spinner>
        </div>
      </div>

      <div class="overview overview-small overview-slats" ng-if="(tsc.ticketSales.length > 0)">
        <div class="slats">
          <div class="overview__item overview__item-list" ng-repeat="ticketSale in tsc.ticketSales | orderBy: '-creationDate'">
            <div class="grid">
              <div class="grid__12 grid--bp-sml__3 grid--bp-med__3">
                <p ng-bind="::ticketSale.creationDate | date: 'dd/MM/yyyy'"></p>
              </div>
              <div class="grid__12 grid--bp-sml__6 grid--bp-med__5">
                <p><strong ng-bind="::ticketSale.eventTitle"></strong><br></p>
                <p><span ng-if="ticketSale.price > 0">€ <span ng-bind="::ticketSale.price"></span></span>
                  <span ng-if="ticketSale.price == 0">gratis</span>
                  <span ng-if="!ticketSale.coupon">
                    <em>aan kansentarief</em>
                  </span>
                  <span ng-if="ticketSale.coupon">
                    <em>met <i class="fa fa-ticket"></i> <span ng-bind="::ticketSale.coupon.name"></span></em>
                  </span>
                </p>
              </div>
              <div class="grid__12 grid--bp-sml__3 grid--bp-med__4">
                <p ng-hide="ticketSale.confirmingRemoval || ticketSale.removing || ticketSale.removingFailed">
                  <a class="btn btn-link" ng-click="tsc.initiateRemoval(ticketSale)">Ongedaan maken</a>
                </p>
                <div ng-show="ticketSale.confirmingRemoval && !ticketSale.removing" class="actions actions-confirm">
                  <label>Ongedaan maken?</label>
                  <button class="btn btn-default btn-sm" ng-click="tsc.removeTicketSale(ticketSale)">Bevestigen</button>
                  <a class="small" ng-click="tsc.cancelRemoval(ticketSale)">Annuleren</a>
                </div>
                <div ng-show="ticketSale.removing" class="spinner spinner-small">
                  <circle-spinner></circle-spinner>
                </div>
                <p ng-show="ticketSale.removingFailed" class="alert alert-danger">
                  <span ng-bind="::ticketSale.eventTitle"></span> kon niet verwijderd worden van de historiek.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a ng-click="tsc.cancel()" class="btn btn-primary">Sluiten</a>
</div>
