<div class="modal-header">
    <button type="button" class="close" ng-click="tsc.cancel()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  <h4 class="modal-title">Historiek verkochte tickets aan UiTPAS-tarief</h4>
</div>
<div class="modal-body">
  <div class="alert alert-info">
    Hier vind je een chronologisch overzicht van de verkochte tickets van
    <span ng-bind="::tsc.passholder.getFullName()"></span> aan deze balie. Voor een volledig overzicht bij alle balies
    kan de pashouder terecht op uitinvlaanderen.be.
  </div>
  <div class="panel scroll-area">
    <div class="panel-body">
      <div ng-if="tsc.ticketSalesLoading">
        <div class="spinner spinner-xsmall">
          <circle-spinner></circle-spinner>
        </div>
      </div>
      <div ng-if="(tsc.ticketSales.length === 0)">
        <p>Deze gebruiker heeft nog geen tickets gekocht aan kansentarief.</p>
      </div>
      <div ng-if="(tsc.ticketSales.length > 0)">
        <div class="slats">
          <div class="slats-item" ng-repeat="ticketSale in tsc.ticketSales">
            <div class="grid display-table">
              <div class="grid__12 grid--bp-xsm__3">
                <p ng-bind="::ticketSale.creationDate | date: 'dd/MM/yyyy'"></p>
              </div>
              <div class="grid__12 grid--bp-xsm__7">
                <p><strong ng-bind="::ticketSale.eventTitle"></strong></p>
                <p>
                  <span ng-if="ticketSale.price > 0">€ <span ng-bind="::ticketSale.price"></span></span>
                  <span ng-if="ticketSale.price == 0">gratis</span>
                  <span ng-if="!ticketSale.coupon">
                    <em>aan kansentarief</em>
                  </span>
                  <span ng-if="ticketSale.coupon">
                    <em>met <i class="fa fa-ticket"></i> <span ng-bind="::ticketSale.coupon.name"></span></em>
                  </span>
                </p>
              </div>
              <div class="grid__12 grid--bp-xsm__2">
                <p ng-hide="ticketSale.removing || ticketSale.removingFailed">
                  <a class="btn btn-link" ng-click="tsc.removeTicketSale(ticketSale)">Annuleren</a>
                </p>
                <div ng-show="ticketSale.removing" class="spinner spinner-small">
                  <circle-spinner></circle-spinner>
                </div>
                <p ng-show="ticketSale.removingFailed" class="alert alert-danger">
                  <span ng-bind="::ticketSale.eventTitle"></span> kon niet verwijderd worden van de historiek.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a ng-click="tsc.cancel()">Sluiten</a>
</div>
