<div class="back-nav">
  <a ui-sref="counter.main">Terug</a>
</div>
<div class="passholder passholder-number">
  <label>NR.</label> <span ng-bind="pdc.passholder.passNumber | passNumber"></span>
  <a ng-hide="pdc.pass.isBlocked()" ui-sref="counter.main.passholder.blockPass()" class="pull-right">Blokkeren</a>
  <span class="label label-danger pull-right" ng-show="pdc.pass.isBlocked()">Kaart geblokkeerd</span>
</div>
<div class="passholder passholder-data">
  <h3>Gegevens <a class="pull-right" ui-sref="counter.main.passholder.edit()">Aanpassen</a></h3>
  <img ng-if="pdc.passholder.picture" class="pull-right" style="width: 47px; height: 64px"
       ng-src="{{pdc.passholder.picture}}" />
  <div class="name">{{pdc.passholder.name.first}} {{pdc.passholder.name.middle}} {{pdc.passholder.name.last}}</div>
  <div class="address">
    {{pdc.passholder.address.street}}<br />
    {{pdc.passholder.address.postalCode}} {{pdc.passholder.address.city}}
  </div>
  <div class="birthdate">{{pdc.passholder.birth.date | date : 'dd/MM/yyyy'}}</div>
  <div class="contact-data">
    <span ng-show="!pdc.passholder.contact.email" class="label label-danger no-mail"><i class="fa fa-exclamation-triangle"></i></span>
    <a class="edit" ng-show="!pdc.passholder.contact.telephoneNumber && !pdc.passholder.contact.email && !pdc.passholder.contact.mobileNumber" ui-sref="counter.main.passholder.editContact()">Contactgegevens toevoegen</a>
    <span>
      <a ng-show="pdc.passholder.contact.telephoneNumber || pdc.passholder.contact.email || pdc.passholder.contact.mobileNumber"  data-target="#contact-data-container" class="toggle-down" data-toggle="collapse" aria-expanded="false">
        Contactinformatie<i></i>
      </a>
    </span>
    <div class="panel panel-default panel-collapse collapse" id="contact-data-container">
      <div class="panel-body vcard">
        <div class="tel" ng-show="pdc.passholder.contact.telephoneNumber">
            <span ng-bind="pdc.passholder.contact.telephoneNumber | phoneNumber"></span>
        </div>
        <div class="tel mobile" ng-show="pdc.passholder.contact.mobileNumber">
            <span ng-bind="pdc.passholder.contact.mobileNumber | phoneNumber"></span>
        </div>
        <div class="email" ng-show="pdc.passholder.contact.email">
            <span ng-bind="pdc.passholder.contact.email"></span>
        </div>
        <div class="email" ng-show="!pdc.passholder.contact.email">
            <span class="text-danger">Geen e-mailadres gekend</span>
        </div>
        <a class="edit" ui-sref="counter.main.passholder.editContact()">Aanpassen</a>
      </div>
    </div>
  </div>
</div>
<div class="passholder passholder-points">
  <h3>Puntensaldo</h3>
  <span ubr-passholder-points class="label label-points" ng-bind="pdc.passholder.points"></span>
</div>
<div class="passholder passholder-kansenstatuten" ng-show="pdc.passholder.kansenStatuten.length">
  <h3><i class="fa fa-heart"></i> Kansenstatuut <a class="pull-right" ui-sref="counter.main.passholder.kansenStatuut()">Beheren</a></h3>
  <div class="kansenstatuut list-group">
    <a class="list-group-item" ng-class="'status-' + kansenStatuut.status" ng-repeat="kansenStatuut in pdc.passholder.kansenStatuten" ui-sref="counter.main.passholder.kansenStatuut()">{{kansenStatuut.cardSystem.name}}
      <small class="label label-danger" ng-show="kansenStatuut.status === 'EXPIRED'">Vervallen</small>
      <small class="label label-warning" ng-show="kansenStatuut.status === 'IN_GRACE_PERIOD'">Vervallen op {{kansenStatuut.endDate | date : 'dd/MM/yyyy'}}</small>
    </a>
  </div>
</div>
<div class="passholder passholder-memberships">
  <h3><i class="fa fa-users"></i> Lidmaatschappen <a class="pull-right" ui-sref="counter.main.passholder.memberships()">Beheren</a></h3>
  <div class="overview__loading" ng-show="pdc.membershipsLoading">
    <div class="spinner spinner-small">
      <circle-spinner></circle-spinner>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="membership in pdc.memberships"><a ui-sref="counter.main.passholder.memberships()">{{membership.association.name}} <small ng-if="pdc.membershipHasExpired(membership)" ng-cloak class="label label-danger">Vervallen</small></a></li>
  </ul>
</div>
<div class="passholder passholder-coupons">
  <h3><i class="fa fa-ticket"> Bonnen</i></h3>
  <div class="overview__loading" ng-show="pdc.couponsLoading">
    <div class="spinner spinner-small">
      <circle-spinner></circle-spinner>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="coupon in pdc.coupons"><a ui-sref="counter.main.passholder.coupon({ coupon: coupon })">{{coupon.name}}</a></li>
  </ul>
</div>
<div class="passholder passholder-extra-actions">
  <ul class="text-muted list-unstyled">
    <li><a ui-sref="counter.main.passholder.ticketSales()">Historiek korting &amp; bonnen</a></li>
  </ul>
</div>
