<div class="col-xs-12">
  <p class="block-title">Toestellen</p>
  <div class="slats">

    <div class="slats-item">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p><strong>CID031-RPI</strong></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <select class="form-control">
              <option>Zuil kiest automatisch</option>
              <option>Evenement 1</option>
              <option>Evenement 2</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="slats-item">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p><strong>CID032-RPI</strong></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <select class="form-control">
              <option>Zuil kiest automatisch</option>
              <option>Evenement 1</option>
              <option>Evenement 2</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="slats-item">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p><strong>CID033-RPI</strong></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <select class="form-control">
              <option>Zuil kiest automatisch</option>
              <option>Evenement 1</option>
              <option>Evenement 2</option>
            </select>
          </div>
        </div>
      </div>
    </div>

  </div>

  <p><a class="btn btn-primary">Bewaren</a></p>
</div>
