<form name="newCardForm" ng-submit="umc.submitNewCardForm(newCardForm)"
      novalidate ng-disabled="umc.formSubmitBusy">
  <div class="modal-body">
    <div class="container-fluid">
      <fieldset ng-disabled="umc.formSubmitBusy">
        <div class="grid">
          <div class="grid__12 grid--bp-lrg__12">
            <div class="alert alert-danger" ng-show="umc.isJavaFXBrowser && umc.eIDError" ng-bind="umc.eIDError"></div>
            <div class="alert alert-danger" type="{{umc.formAlert.type}}" ng-show="umc.formAlert" ng-bind="umc.formAlert.message"></div>
          </div>
          <div class="grid__12 field-group required"
               ng-class="{ 'has-error': umc.showFieldError(newCardForm, 'with-new-card') }">
            <div class="grid radios">
              <div class="grid__12">
                <div class="radio">
                  <label>
                    <input type="radio" id="no-kansenstatuut" name="with-new-card" value="NO_NEW_CARD"
                           required ng-model="umc.upgradeData.withNewCard"> Bestaande UiTPAS-kaart gebruiken
                  </label>
                </div>
              </div>
              <div class="grid__12">
                <div class="radio">
                  <label>
                    <input type="radio" id="kansenstatuut" name="with-new-card" value="NEW_CARD"
                           required ng-model="umc.upgradeData.withNewCard"> Nieuwe UiTPAS-kaart uitdelen
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default text-left" ng-show="umc.upgradeData.withKansenstatuut === 'KANSENSTATUUT'">
            <div class="panel-body">
              <p class="element-title" ng-bind-template="Kansenstatuut {{umc.pass.cardSystem.name}}"></p>
              <div class="form-group">
                <div class="form-inline">
                  <ubr-datepicker ng-model="umc.upgradeData.kansenstatuutEndDate" ubr-label="Geldig tot" ubr-id="geldig-tot"
                                  ubr-name="endDate"></ubr-datepicker>
                </div>
              </div>
              <div class="checkbox">
                <label for="remarks-check">
                  <input type="checkbox" class="remarks-check" id="remarks-check" name="remarks" ng-model="umc.upgradeData.includeKansenStatuutRemarks">
                  Voeg opmerkingen toe
                </label>
              </div>
              <div class="form-group more-info" ng-show="umc.upgradeData.includeKansenStatuutRemarks">
                <textarea class="form-control" id="remarks" rows="3" ng-model="umc.upgradeData.kansenstatuutRemarks"></textarea>
              </div>
            </div>
          </div> <!--/ end .panel-->
        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a class="btn btn-link pull-left" ng-click="umc.close()">Annuleren</a>
    <input type="button" class="btn btn-default modal-previous" ui-sref="counter.main.passholder.upgrade.kansenStatuut" value="Vorige">
    <input type="button" class="btn btn-default modal-next" ng-disabled="umc.formSubmitBusy"
            ng-click="umc.submitNewCardForm(newCardForm)" value="Volgende">
  </div>
</form>
