<section class="advantages">
  <h2>Voordelen</h2>
  <div ng-repeat="advantage in pac.advantages"
       ng-class="{unavailable: (!advantage.exchangeable || advantage.insufficientPoints)}">
    <h3 ng-bind="::advantage.title"></h3>
    <div ng-show="advantage.points > 0" class="points">
      -<span ng-bind="::advantage.points"></span>
    </div>
    <div ng-show="advantage.points == 0" class="points">gratis</div>

    <button ng-show="advantage.exchangeable && !advantage.confirmingExchange && !advantage.insufficientPoints"
            ng-click="pac.initiateExchange(advantage)">
      Omruilen
    </button>

    <div ng-show="advantage.confirmingExchange && !advantage.exchanging">
      <button ng-click="pac.exchangeAdvantage(advantage)" ng-disabled="advantage.locked">Bevestigen</button>
      <a ng-click="pac.cancelExchange(advantage)">Annuleren</a>
    </div>

    <div ng-show="advantage.exchanging">
      <span>exchanging...</span>
    </div>

    <div ng-show="!advantage.exchangeable">
      <span>voordeel omgeruild</span>
    </div>

    <div ng-show="advantage.exchangeable && advantage.insufficientPoints">
      onvoldoende punten
    </div>
  </div>
</section>

