<h1>Welkom <span ng-bind="::app.user.nick"></span>,</h1>
<h2 ng-if="::counters.total">Selecteer je balie</h2>

<div ng-if="::counters.lastActive">
  <h3>Laatst gebruikt</h3>
  <ul>
    <li>
      <a href="#" ng-click="counters.setActiveCounter(counters.lastActive)" ng-bind="::counters.lastActive.name"></a>
    </li>
  </ul>
</div>

<div ng-if="::counters.list.length">
  <h3 ng-if="::counters.lastActive">Andere balies</h3>
  <ul ng-repeat="counter in ::counters.list">
    <li>
      <a href="#" ng-click="counters.setActiveCounter(counter)" ng-bind="::counter.name"></a>
    </li>
  </ul>
</div>

<div ng-if="::!counters.total">
  <p>Je bent nog geen lid van een UiTPAS-balie. Om deze applicatie te kunnen gebruiken, moet je lid zijn van een UiTPAS-balie.</p>
  <p>Stuur je e-mailadres en de naam van je organisatie naar de verantwoordelijke.</p>
  <ul ng-repeat="contact in ::counters.contacts">
    <li>
      <em ng-bind="::contact.name"></em>
      <span ng-bind="::contact.telephone"></span>
      <a ng-href="mailto:{{ ::contact.email }}" ng-bind="::contact.email"></a>
    </li>
  </ul>
</div>
