<div class="container">
  <nav class="navbar navbar-inverse" ng-init="isCollapsedHeaderNavbar=true">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsedHeaderNavbar=!isCollapsedHeaderNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="logo" src="images/svg/logo-uitpas.svg" data-url="images/fallback/logo-uitpas.png" width="90" height="25" alt=""></a>
    </div> <!--/ .navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" uib-collapse="isCollapsedHeaderNavbar">
      <ul class="nav navbar-nav">
        <li uib-dropdown class="dropdown">
          <a href uib-dropdown-toggle role="button" aria-expanded="false">
              <span ng-bind="app.counter.name"></span> <span class="caret"></span>
          </a>
          <ul class="uib-dropdown-menu" role="menu">
            <li><a ui-sref="counter.main">Home</a></li>
            <li><a ui-sref="counter.memberships">Medewerkers</a></li>
            <li><a ui-sref="counter.checkindevices">Zuilen</a></li>
            <li><a ui-sref="counter.main.expense-report">Onkostennota</a></li>
            <li><a ui-sref="counter.statistics">Statistieken &amp; inzichten</a></li>
            <li><a ui-sref="counter.activities">Activiteiten</a></li>
          </ul>
        </li>
        <li><a class="navbar-link" ui-sref="counters" >Balie wijzigen</a></li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <span class="navbar-text">Aangemeld als {{ app.user.displayName }}<a class="btn navbar-btn btn-ghost-light btn-sm" href="#" ng-click="app.logout()">Afmelden</a></span>
      </div>
    </div> <!--/ .navbar-collapse -->

  </nav>
</div>
