<div class="site-login">
  <div class="site-login__logo"><span class="hidden">UITPAS</span>Balie</div>
  <div class="site-login__intro text-center">
    <p>Deze beheerapplicatie is gemaakt voor organisaties, verenigingen en balies om UiTPAS- en Paspartoe-leden te verwelkomen en te beheren.</p>

    <a class="site-login__btn btn btn-primary btn-lg" href="#" ng-click="app.login()">Aanmelden</a>
    <p><a ui-sref="login.moreInfo()">Meer info</a></p>

    <div class="alert alert-danger" ng-show="app.showNewVersionWarning">
      <strong>Er is een nieuwe versie van de Balie applicatie.</strong> Een update is noodzakelijk om in de toekomst nog gebruik te kunnen maken van deze applicatie.
      <br />
      Contacteer uw IT-dienst of <a href="mailto:info@publiq.be" class="alert-link">info@publiq.be</a> voor meer informatie
    </div>
    <p>
    </p>
    <hr>
    <p><small><strong>Andere UiTPAS-tools</strong><br>
    Voor scholen: <a href="http://scholen.uitpas.be">uitstappen invoeren</a><br>
	Groepspas: <a href="http://groepspas.uitpas.be">bekijk het saldo van je groepspas</a></small></p>
  </div>
</div>
