<div class="site-login">
  <div class="site-login__logo"><span class="hidden">UITPAS</span>Balie</div>
  <div class="site-login__intro text-center">
    <p>Deze beheerapplicatie is gemaakt voor organisaties, verenigingen en balies om UiTPAS- en Paspartoe-leden te verwelkomen en te beheren.</p>
    <a class="site-login__btn btn btn-primary btn-lg" href="#" ng-click="app.login()">Aanmelden</a>
    <p><a href="#" data-toggle="modal" data-target="#meerinfo">Meer info</a></p>
  </div>
</div>
<div class="modal fade" id="meerinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Info</h4>
      </div>
      <div class="modal-body">
        <p>Ben je klaar om bezoekers met UiTPAS of Paspartoe te ontvangen?</p>
        <p>Kijk dan na of je onderstaande stappen goed gevolgd hebt:</p>
        <strong>Maak een UiTiD aan</strong>
        <p>Hiermee kan je inloggen op beheer.UiTPAS.be, www.UiTdatabank.be en www.UiTPAS.be</p>
        <strong>Stuur het e-mail adres van jouw UiTiD en de naam van de vereniging waarvoor je je wil aanmelden naar vragen@UiTdatabank.be</strong>
        <p>Wij koppelen jouw UiTiD aan de juiste organisatie op beheer.UiTPAS.be</p>
        <strong>Voer jouw activiteiten in via www.UiTdatabank.be</strong>
        <p>Je kan inloggen met jouw UiTiD. Voeg alle UiTPASactiviteiten toe en vergeet zeker niet de organisator te selecteren. Voeg de UiTPASvelden toe.</p>
        <strong>Controleer of jouw activiteit verschijnt via beheer.UiTPAS.be</strong>
        <p>Dit kan je nakijken vanaf één dag na invoer van je activiteit op www.UiTdatabank.be</p>
        <strong>Zorg voor een UiTPAS-scanner (gsm of mini-pc)</strong>
        <p>Op de meeste locaties waar activiteiten plaatsvinden is er een UiTPASscanner aanwezig. Vraag dit best na op voorhand. Woon je in regio Aalst en wil je een scanner ontlenen, klik dan hier voor een overzicht van de uitleendiensten.</p>
        <strong>Meld je aan op de gsm of mini-pc om punten te sparen en kansentarief toe te kennen</strong>
        <p>Aanmelden doe je op de gsm of op de laptop via het UiTPAS-icoontje op het bureaublad. Controleer of het apparaat verbonden is met het internet.</p>
        <p>Heb je nog vragen? Contacteer ons via jouwgemeente@uitpas.be</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Sluiten</button>
      </div>
    </div>
  </div>
</div>
