<form name="passholderActivityTariffs" ng-submit="pat.submitForm(pat.passholder, pat.activity, passholderActivityTariffs)" novalidate ng-class="{'form-submiting': pat.formSubmitBusy}">
  <div class="modal-header">
    <button type="button" class="close" ng-click="pat.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Prijzen</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="activity-title">{{pat.activity.title}}</div>
      <fieldset ng-disabled="pat.formSubmitBusy">
        <table>
          <thead><th></th><th ng-repeat="(rank, value) in pat.activity.sales.base">{{rank}}</th></thead>
          <tbody>
            <tr class="base">
              <th>Basistarief</th>
              <td ng-repeat="value in pat.activity.sales.base">&euro; {{value}}</td>
            </tr>
            <tr ng-repeat="(tKey, tariff) in pat.activity.sales.tariffs.list" ng-class="tariff.type === 'COUPON' ? 'coupon' :'kansen-tariff'">
              <th>{{tariff.name}}</th>
              <td ng-repeat="(pKey, price) in tariff.prices" ng-class="{'lowest': (price === pat.activity.sales.tariffs.lowestAvailable)}">
                <label for="price-{{tKey}}-{{pKey}}">
                  <input type="radio" name="tariff" id="price-{{tKey}}-{{pKey}}" ng-model="pat.selectedTariff" required value="{{tariff.type}}-{{pKey}}">
                  <span class="price">&euro; {{price}}</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
        <!--<pre>{{passholderActivityTariffs|json}}</pre>-->
        <div>
          <div class="lowest-legend pull-left"><span class="color-thingie"></span> Laagste tarief</div>
          <button type="submit" class="btn btn-primary pull-right" ng-disabled="pat.formSubmitBusy || passholderActivityTariffs.$invalid" ng-click="pat.submitForm(pat.passholder, pat.activity, passholderActivityTariffs)"><span ng-hide="pat.formSubmitBusy">Tarief toekennen</span> <span ng-show="pat.formSubmitBusy"><span class="glyphicon glyphicon-refresh loading small"></span> Formulier wordt verzonden</span></button>
        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a ng-click="pat.cancelModal()">Annuleren</a>
  </div>
</form>
