<form name="passholderNewPass" ng-submit="rpc.submitForm(passholderNewPass)" novalidate ng-class="{'form-submiting': rpc.formSubmitBusy}">
  <div class="modal-header">
    <button type="button" class="close" ng-click="rpc.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Kaart vervangen</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <p class="direction">
        Scan de nieuwe UiTPAS of vul het kaartnummer manueel in.
      </p>
      <dl>
        <dt>KansenStatuut</dt><dd>0930000816718</dd>
        <dt>Not KansenStatuut</dt><dd>0930000817708</dd>
        <dt>Not Local Stock</dt><dd>0930000731701</dd>
        <dt>Not Found</dt><dd>0930000816719</dd>
      </dl>
      <div class="grid">
        <div class="grid__12 grid--bp-xsm__10">
          <div class="form-group" ng-class="{ 'has-error': (passholderNewPass.$submitted || passholderNewPass.UiTPASNumber.$dirty) && passholderNewPass.UiTPASNumber.$invalid }">
            <label for="UiTPASNumber" class="label-number">UiTPAS-nummer</label>
            <input ubr-uitpas-number-async-validation ng-pattern="/^\d{13}$/" type="text" class="form-control input-number" name="UiTPASNumber"
            id="UiTPASNumber" autofocus="" ng-disabled="passholderNewPass.UiTPASNumber.$pending" ng-required="true"
            ng-model="rpc.card.id">
            <div ng-if="(passholderNewPass.$submitted || passholderNewPass.UiTPASNumber.$touched || passholderNewPass.UiTPASNumber.$dirty) && passholderNewPass.UiTPASNumber.$invalid" class="text-danger small">
              <div ng-if="passholderNewPass.UiTPASNumber.$error.pattern">Het nummer heeft een verkeerd formaat, 13 cijfers worden verwacht.</div>
              <div ng-if="passholderNewPass.UiTPASNumber.$error.notFound">Deze kaart kan niet gevonden worden in het systeem.</div>
              <div ng-if="passholderNewPass.UiTPASNumber.$error.notLocalStock">Deze kaart zit niet in de locale stock van kaarten.</div>
              <div ng-if="passholderNewPass.UiTPASNumber.$error.required">Het UiTPAS-nummer veld is verplicht.</div>
            </div>
          </div>
        </div>
        <div class="grid__12 grid--bp-xsm__2">
          <span class="icon icon--small icon--card-scan"></span>
        </div>
      </div>
      <hr>
      <div class="grid" ng-show="passholderNewPass.UiTPASNumber.$valid">
        <div class="grid__12 grid--bp-lrg__12">
          <!-- -><pre>{{rpc.newPass|json}}</pre><!-- -->
          <label>Reden</label>
          <div ng-repeat="(code, description) in rpc.reasons" class="radio">
            <label>
              <input type="radio" name="reason" ng-model="rpc.card.reason"
                     value="{{code}}" ng-required="true">
              {{description}}
            </label>
          </div>
          <hr>
          <div ng-show="rpc.card.reason == 'OBTAIN_KANSENSTATUUT'">
            <ubr-datepicker
                ng-model="rpc.kansenstatuut.endDate"
                ubr-label="Kansenstatuut geldig tot"
                ubr-id="valid-until"
                ubr-name="endDate"></ubr-datepicker>
            <hr>
          </div>
          <div class="grid__12 grid--bp-lrg__12">
            <div class="form-group" ng-class="{ 'has-error': (passholderNewPass.$submitted || passholderNewPass.voucherNumber.$dirty) && passholderNewPass.voucherNumber.$invalid }">
              <label>Voucher-nummer</label>
              <input class="form-control voucher-number" name="voucherNumber"
                     ng-model="rpc.card.voucherNumber" autofocus="autofocus">
              <div ng-if="(passholderNewPass.$submitted || passholderNewPass.voucherNumber.$touched || passholderNewPass.voucherNumber.$dirty) && passholderNewPass.voucherNumber.$invalid" class="text-danger small">
                <div ng-if="passholderNewPass.voucherNumber.$error.isNotFound">Deze kaart kan niet gevonden worden in het systeem.</div>
                <div ng-if="passholderNewPass.voucherNumber.$error.isUsed">Deze kaart zit niet in de locale stock van kaarten.</div>
                <div ng-if="passholderNewPass.voucherNumber.$error.notKansStatuut">Deze kaart heeft niet het KansStatuut.</div>
                <div ng-if="passholderNewPass.voucherNumber.$error.isKansStatuut">Deze kaart heeft het KansStatuut.</div>
              </div>
            </div>
            <p ng-if="rpc.voucherType"><strong>Voucher Type:</strong><br>{{rpc.voucherType}}</p>
            <div ng-hide="rpc.price === -1">
              <label>Prijs</label>
              <p>
                <span ng-if="rpc.price > 0" class="price">{{rpc.price|number:2}} euro</span>
                <span ng-if="rpc.price === 0" class="price">Gratis!</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a ng-click="rpc.cancelModal()">Annuleren</a>
    <button type="button" class="btn btn-primary" ng-disabled="rpc.formSubmitBusy || passholderNewPass.$invalid || passholderNewPass.$pending" ng-click="rpc.submitForm(passholderNewPass)">
      <span ng-hide="rpc.formSubmitBusy">Bewaren</span>
      <span ng-show="rpc.formSubmitBusy">
        <span class="fa fa-refresh loading small"></span>
        Formulier wordt verzonden
      </span>
    </button>
  </div>
</form>
