<form name="passholderNewPass" ng-submit="rpc.submitForm()" ubr-replace-uitpas-form-validation novalidate ng-class="{'form-submiting': rpc.formSubmitBusy}">
  <div class="modal-header">
    <button type="button" class="close" ng-click="rpc.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Kaart vervangen</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <p class="direction text-center">
        Scan de nieuwe UiTPAS of vul het kaartnummer manueel in.
      </p>
      <div class="grid">
        <div class="grid__12 grid--bp-lrg__12">
          <div class="alert alert-danger" type="{{rpc.formAlert.type}}" ng-show="rpc.formAlert" ng-bind="rpc.formAlert.message"></div>
        </div>
        <div class="grid__12 grid--bp-xsm__8">
          <div class="form-group" ng-class="{ 'has-error': (passholderNewPass.$submitted || passholderNewPass.UiTPASNumber.$dirty) && passholderNewPass.UiTPASNumber.$invalid }">
            <label for="UiTPASNumber" class="label-number">UiTPAS-nummer</label>
            <input ubr-uitpas-number-async-validation ng-pattern="/^\d{13}$/" type="text" class="form-control input-number" name="UiTPASNumber"
            id="UiTPASNumber" autofocus="" ng-disabled="passholderNewPass.UiTPASNumber.$pending" ng-required="true"
            ng-model="rpc.card.id">
            <div ng-if="(passholderNewPass.$submitted || passholderNewPass.UiTPASNumber.$touched || passholderNewPass.UiTPASNumber.$dirty) && passholderNewPass.UiTPASNumber.$invalid" class="text-danger small">
              <div ng-if="passholderNewPass.UiTPASNumber.$error.pattern">Het nummer heeft een verkeerd formaat, 13 cijfers worden verwacht.</div>
              <div ng-if="passholderNewPass.UiTPASNumber.$error.notFound">Deze kaart kan niet gevonden worden in het systeem.</div>
              <div ng-if="passholderNewPass.UiTPASNumber.$error.notLocalStock">Deze kaart zit niet in de locale stock van kaarten.</div>
              <div ng-if="passholderNewPass.UiTPASNumber.$error.required">Het UiTPAS-nummer veld is verplicht.</div>
            </div>
            <div ng-if="passholderNewPass.UiTPASNumber.$pending" class="text-warning small">UiTPAS-nummer wordt gevalideerd.</div>
          </div>
        </div>
        <div class="grid__12 grid--bp-xsm__4 text-center">
          <span class="icon icon--card-scan icon--card-scan--medium"></span>
        </div>
      </div>

      <div class="grid" ng-show="passholderNewPass.UiTPASNumber.$valid">
        <div class="grid__12 grid--bp-lrg__12">
          <hr />

          <label class="radio">Reden</label>
          <div ng-repeat="(code, description) in rpc.reasons" class="radio">
            <label>
              <input type="radio" name="reason" ng-model="rpc.card.reason"
                     value="{{code}}" ng-required="true" ng-change="rpc.updatePriceInfo(passholderNewPass)">
              {{description}}
            </label>
          </div>

          <div ng-show="rpc.card.reason == 'OBTAIN_KANSENSTATUUT'">
            <hr />
            <ubr-datepicker
                ng-model="rpc.kansenstatuut.endDate"
                ubr-label="Kansenstatuut geldig tot"
                ubr-id="valid-until"
                ubr-name="endDate"></ubr-datepicker>
          </div>

          <hr />

          <div class="form-group" ng-class="{ 'has-error': (passholderNewPass.$submitted || passholderNewPass.voucherNumber.$dirty) && passholderNewPass.voucherNumber.$invalid }">
            <label>Voucher-nummer</label>
            <input class="form-control voucher-number" name="voucherNumber" ng-change="rpc.updatePriceInfo(passholderNewPass)"
                   ng-model="rpc.card.voucherNumber" autofocus="autofocus">
            <div ng-if="(passholderNewPass.$submitted || passholderNewPass.voucherNumber.$touched || passholderNewPass.voucherNumber.$dirty) && passholderNewPass.voucherNumber.$invalid" class="text-danger small">
              <div ng-if="passholderNewPass.voucherNumber.$error.invalidVoucherNumber">Het voucher nummer is niet correct.</div>
              <div ng-if="passholderNewPass.voucherNumber.$error.unknownVoucherNumber">Het voucher nummer is niet gekend in het systeem.</div>
            </div>
          </div>

          <hr />

          <label>Prijs</label>

          <span ng-show="rpc.price === -1">
            <div ng-if="!rpc.card.reason" class="text-warning">Selecteer een reden om de prijs te zien.</div>
            <div ng-if="rpc.card.reason && passholderNewPass.voucherNumber.$invalid" class="text-danger">
              De prijs kan niet bepaald worden met een foutief voucher nummer.
            </div>
            <div ng-if="rpc.card.reason && passholderNewPass.voucherNumber.$valid">
              <p>
                Prijs wordt bepaald...
                <span class="spinner spinner-xsmall spinner-inline">
                  <circle-spinner></circle-spinner>
                </span>
              </p>
            </div>
          </span>

          <div ng-hide="rpc.price === -1">
            <p>
              <span ng-if="rpc.price > 0" class="price">{{rpc.price|number:2}} euro</span>
              <span ng-if="rpc.price === 0" class="price">Gratis!</span>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a ng-click="rpc.cancelModal()">Annuleren</a>
    <button type="button" class="btn btn-primary" ng-disabled="rpc.formSubmitBusy || passholderNewPass.$invalid || passholderNewPass.$pending" ng-click="rpc.submitForm()">
      <span ng-hide="rpc.formSubmitBusy">Bewaren</span>
      <span ng-show="rpc.formSubmitBusy">
        <span class="fa fa-refresh loading small"></span>
        Formulier wordt verzonden
      </span>
    </button>
  </div>
</form>
