<form name="passholderEdit" ng-submit="pec.submitForm(pec.passholder, passholderEdit)" novalidate insz-number-validation ng-class="{'form-submiting': pec.formSubmitBusy}">
  <div class="modal-header">
    <button type="button" class="close" ng-click="pec.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Aanpassen</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <fieldset ng-disabled="pec.formSubmitBusy">
        <div class="grid">
          <div class="grid__12 grid--bp-lrg__12">
            <alert type="{{pec.formAlert.type}}" ng-show="pec.formAlert" ng-bind="pec.formAlert.message"></alert>
          </div>
          <div class="grid__12 grid--bp-lrg__4 field-group" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.inszNumber.$dirty) && passholderEdit.inszNumber.$invalid }">
            <label class="control-label" for="insz-number">
              Rijksregisternummer
            </label>
            <input type="text" class="form-control" id="insz-number" ng-disabled="!pec.disableInszNumber" name="inszNumber"ng-model="pec.passholder.inszNumber">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.inszNumber.$touched || passholderEdit.inszNumber.$dirty) && passholderEdit.inszNumber.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.inszNumber.$error.gender">Het geslacht afgeleid van het rijksregisternummer verschilt van de opgegeven geboortedatum.</div>
              <div ng-if="passholderEdit.inszNumber.$error.dateOfBirth">De geboortedatum afgeleid van het rijksregisternummer verschilt van de opgegeven geboortedatum.</div>
              <div ng-if="passholderEdit.inszNumber.$error.checkDigit">Het controle getal van het rijksregisternummer is foutief.</div>
              <div ng-if="passholderEdit.inszNumber.$error.inUse">Dit rijksregisternummer is reeds in gebruik.</div>
            </div>
            <div ng-if="pec.disableInszNumber" class="alert alert-info">
              <div>Het rijksregisternummer kan enkel aangepast worden wanneer er nog geen gekend is.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__4 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.firstName.$touched) && passholderEdit.firstName.$invalid }">
            <label class="control-label" for="firstName">
              Voornaam
            </label>
            <input type="text" class="form-control" id="firstName" name="firstName" ng-required="true" ng-model="pec.passholder.name.first">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.firstName.$touched) && passholderEdit.firstName.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.firstName.$error.required">De voornaam is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__4 field-group required">
            <label class="control-label" for="middleName">
              Extra namen
            </label>
            <input type="text" class="form-control" id="middleName" name="middleName" ng-model="pec.passholder.name.middle">
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-lrg__4 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.lastName.$touched) && passholderEdit.lastName.$invalid }">
            <label class="control-label" for="lastName">
              Naam
            </label>
            <input type="text" class="form-control" id="lastName" name="lastName" ng-required="true" ng-model="pec.passholder.name.last">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.lastName.$touched) && passholderEdit.lastName.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.lastName.$error.required">De naam is verplicht.</div>
            </div>
          </div>
        </div>
        <hr>
        <div class="grid">
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.dateOfBirth.$touched || passholderEdit.dateOfBirth.$dirty) && passholderEdit.dateOfBirth.$invalid }">
            <label class="control-label" for="date-of-birth">
              Geboortedatum
            </label>
            <input type="date" class="form-control" id="date-of-birth" name="dateOfBirth" ng-required="true" ng-model="pec.passholder.birth.date">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.dateOfBirth.$touched || passholderEdit.dateOfBirth.$dirty) && passholderEdit.dateOfBirth.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.dateOfBirth.$error.required">De geboortedatum is verplicht.</div>
              <div ng-if="passholderEdit.dateOfBirth.$error.date">De geboortedatum heeft een foutief formaat. <strong>dd/mm/jjjj</strong> wordt verwacht.</div>
              <div ng-if="passholderEdit.dateOfBirth.$error.inszNumber">De geboortedatum komt niet overeen met het rijksregisternummer.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.placeOfBirth.$touched) && passholderEdit.placeOfBirth.$invalid }">
            <label class="control-label" for="place-of-birth">
              Geboorteplaats
            </label>
            <input type="text" class="form-control" id="place-of-birth" name="placeOfBirth" ng-required="true" ng-model="pec.passholder.birth.place">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.placeOfBirth.$touched) && passholderEdit.placeOfBirth.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.placeOfBirth.$error.required">De geboorteplaats is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.gender.$touched) && passholderEdit.gender.$invalid }">
            <label class="control-label">
              Geslacht
            </label>
            <div class="grid radios">
              <div class="grid__12 grid--bp-sml__6">
                <div class="radio">
                  <label>
                    <input type="radio" id="gender-male" name="gender" value="MALE" required ng-model="pec.passholder.gender"> Man
                  </label>
                </div>
              </div>
              <div class="grid__12 grid--bp-sml__6">
                <div class="radio">
                  <label>
                    <input type="radio" id="gender-female" name="gender" value="FEMALE" required ng-model="pec.passholder.gender"> Vrouw
                  </label>
                </div>
              </div>
            </div>
            <div ng-if="(passholderEdit.$submitted || passholderEdit.gender.$touched || passholderEdit.gender.$dirty) && passholderEdit.gender.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.gender.$error.required">Het geslacht is verplicht.</div>
              <div ng-if="passholderEdit.gender.$error.inszNumber">Het geslacht komt niet overeen met het rijksregisternummer.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-xlr__3 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.nationality.$touched) && passholderEdit.nationality.$invalid }">
            <label class="control-label" for="nationality">
              Nationaliteit
            </label>
            <input type="text" class="form-control" id="nationality" name="nationality" ng-required="true" ng-class="{ 'form-error': pec.formErrors.nationality }" ng-model="pec.passholder.nationality">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.nationality.$touched || passholderEdit.nationality.$dirty) && passholderEdit.nationality.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.nationality.$error.required">De nationaliteit is verplicht.</div>
            </div>
          </div>
        </div>
        <hr>
        <div class="grid">
          <div class="grid__12 grid--bp-med__6 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.street.$touched) && passholderEdit.street.$invalid }">
            <label class="control-label" for="street">
              Straat, nummer en bus
            </label>
            <input type="text" class="form-control" id="street" name="street" ng-required="true" ng-model="pec.passholder.address.street">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.street.$touched) && passholderEdit.street.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.street.$error.required">De straat en nummer zijn verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-med__3 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.postalCode.$touched) && passholderEdit.postalCode.$invalid }">
            <label class="control-label" for="postal-code">
              Postcode
            </label>
            <input type="text" class="form-control" id="postal-code" name="postalCode" ng-required="true" ng-model="pec.passholder.address.postalCode">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.postalCode.$touched) && passholderEdit.postalCode.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.postalCode.$error.required">De postcode is verplicht.</div>
            </div>
          </div>
          <div class="grid__12 grid--bp-xsm__6 grid--bp-med__3 field-group required" ng-class="{ 'has-error': (passholderEdit.$submitted || passholderEdit.city.$touched) && passholderEdit.city.$invalid }">
            <label class="control-label" for="city">
              Gemeente
            </label>
            <input type="text" class="form-control" id="city" name="city" ng-required="true" ng-model="pec.passholder.address.city">
            <div ng-if="(passholderEdit.$submitted || passholderEdit.city.$touched) && passholderEdit.city.$invalid" class="alert alert-danger">
              <div ng-if="passholderEdit.city.$error.required">De stad is verplicht.</div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div><!-- end modal-body -->
  <div class="modal-footer">
    <a ng-click="pec.cancelModal()">Annuleren</a>
    <button type="submit" class="btn btn-primary" ng-disabled="pec.formSubmitBusy || passholderEdit.$invalid" ng-click="pec.submitForm(pec.passholder, passholderEdit)">Bewaren</button>
    <span ng-show="pec.formSubmitBusy">Formulier wordt verzonden</span>
  </div>
</form>
