<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Info</h4>
</div>
<div class="modal-body">
  <p>Ben je klaar om bezoekers met UiTPAS of Paspartoe te ontvangen?</p>
  <p>Kijk dan na of je onderstaande stappen goed gevolgd hebt:</p>
  <strong>Maak een UiTiD aan</strong>
  <p>Hiermee kan je inloggen op <a href="https://balie.uitpas.be">balie.uitpas.be</a>, <a href="https://www.uitdatabank.be">www.uitdatabank.be</a> en <a href="https://www.uitpas.be">www.uitpas.be</a></p>
  <strong>Stuur het e-mail adres van jouw UiTiD en de naam van de vereniging waarvoor je je wil aanmelden naar je UiTPAS-verantwoordlijke</strong>
  <p>Meld op balie.uitpas.be aan om het contact van de verantwoordlijke in je gemeente terug te vinden.</p>
  <strong>Voer jouw activiteiten in via <a href="http://www.uitdatabank.be">www.uitdatabank.be</a></strong>
  <p>Je kan inloggen met jouw UiTiD. Voeg alle UiTPASactiviteiten toe en vergeet zeker niet de organisator te selecteren. Voeg een basisprijs toe.</p>
  <strong>Controleer of jouw activiteit verschijnt via <a href="http://balie.uitpas.be">balie.uitpas.be</a></strong>
  <p>Dit kan je nakijken enkele minuten na invoer van je activiteit op <a href="http://www.uitdatabank.be">www.uitdatabank.be</a></p>
  <strong>Een UiTPAS kunnen inlezen</strong>
  <p>Je hebt verschillende mogelijkheden om de UiTPAS in te lezen: je kan de kaart scannen met een NFC-lezer of met een barcodescanner. Je kan het UiTPAS-nummer of het rijksregisternummer ook manueel ingeven.</p>
  <strong>Meld je aan op balie.uitpas.be om punten te sparen en kansentarief toe te kennen</strong>
  <p>Aanmelden doe je op je laptop via balie.uitpas.be. Controleer of het apparaat verbonden is met het internet.</p>
  <p>Heb je nog vragen? Contacteer ons via uitpas@jouwgemeente.be</p>
</div>
<div class="modal-footer">
  <a ng-click="$close()">Sluiten</a>
</div>
