<div class="modal-header">
  <button type="button" class="close" ng-click="pbp.cancelModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Kaart blokkeren</h4>
</div>

<div class="modal-body">
  <div class="alert alert-danger" ng-show="pbp.asyncError" ng-bind="pbp.asyncError"></div>
  <p>Wil je de UiTPAS met nummer {{ pbp.pass.number }} van {{ pbp.passholder.getFullName() }} blokkeren? Deze actie kan je niet ongedaan maken.</p>
</div>

<div class="modal-footer">
  <a ng-click="pbp.cancelModal()">Annuleren</a>
  <button type="button" class="btn btn-default" ng-click="pbp.blockAndReplace()" ng-hide="pbp.busyBlocking">Blokkeren en vervangen</button>
  <button type="button" class="btn btn-danger" ng-click="pbp.blockAndRefresh()" ng-hide="pbp.busyBlocking">Definitief blokkeren</button>
  <button type="button" class="btn btn-disabled" ng-show="pbp.busyBlocking">
    <span class="fa fa-refresh loading small"></span> Formulier wordt verzonden
  </button>
</div>
