<form ng-submit="pc.searchPassholder(pc.shared.data.passholderIdentification)">
  <label for="passholder-identification">
    <span>UiTPASnummer</span> <span class="or">of</span> <span>Rijksregisternummer</span>
  </label>
  <input type="text" id="passholder-identification" ng-required="true" ng-class="{ 'form-error': pc.shared.data.passholderNotFound }" auto-focus ng-model="pc.shared.data.passholderIdentification">
  <input class="btn" type="submit" value="Bevestigen">
</form>
<div class="no-card">
  <h6>Geen kaart?</h6>
  <a ui-sref="counter.passholder.search">Zoek een pashouder</a>
</div>
