<div class="back-nav">
  <a ui-sref="main">Terug</a>
</div>
<span ng-repeat="cardSystem in pc.shared.data.passholder.cardSystemSpecific">
  <label>NR.</label> {{cardSystem.currentCard.uitpasNumber}}
</span>
<div class="passholder-data">
  <h3>Gegevens</h3>
  <span class="name">{{pc.shared.data.passholder.firstName}} {{pc.shared.data.passholder.name}}</span>
  <span class="address">
    {{pc.shared.data.passholder.street}} {{pc.shared.data.passholder.number}} {{pc.shared.data.passholder.box}}<br />
    {{pc.shared.data.passholder.postalCode}} {{pc.shared.data.passholder.city}}
  </span>
  <span class="birthdate">{{pc.shared.data.passholder.dateOfBirth | date : 'dd/MM/yyyy'}}</span>
  <div class="contact-data">
    <a href>Contactinformatie</a>
    <div class="contact-data-container">
      <span class="telephone">{{pc.shared.data.passholder.telephone}}</span>
      <span class="email">{{pc.shared.data.passholder.email}}</span>
    </div>
  </div>
</div>
<div class="points">
  <h3>Puntensaldo</h3>
  <span>{{pc.shared.data.passholder.points}}</span>
</div>
