<form ng-submit="psc.findPassholder()">
  <div class="form-group">
    <label for="passholder-identification">
      <span>UiTPAS-nummer</span> <em>of Rijksregisternummer</em>
    </label>
    <input type="text" id="passholder-identification" ng-required="true" auto-focus ng-model="psc.passholderIdentification">
  </div>
  <input class="btn btn-primary" type="button" value="Bevestigen" ng-click="psc.findPassholder()">
</form>
<div class="no-card">
  <h5>Geen kaart?</h5>
  <a ui-sref="counter.main.passholder.search">Zoek een pashouder</a>
</div>
