<header ui-view="header" class="header" role="banner" ng-show="app.user">
</header> <!--/ .header -->

<div class="main-content clearfix">

    <aside role="complementary" class="sidebar grid__12 grid--bp-sml__5 grid--bp-med__4 grid--bp-xlr__3">
        <div ui-view="sidebar" class="inside" ng-show="app.user">
        </div>
    </aside> <!-- /aside -->

    <div ui-view="content" class="main grid__12" ng-class="{'grid--bp-sml__7 grid--bp-med__8 grid--bp-xlr__9': app.user}" role="main">
    </div> <!-- /main -->

    <footer class="footer grid__12 grid--bp-sml__7 grid--bp-med__8 grid--bp-xlr__9" role="contentinfo" ng-show="app.user">
        <ul class="list-inline">
            <li>
                <a ui-sref="counter.main.feedback">Meld een probleem</a>
            </li>
            <li>
                <a ui-sref="counter.main.help">Help</a>
            </li>
            <li>
                <!--<a href="/kaartlezers-detecteren.html">Detecteer kaartlezers</a>-->
            </li>
        </ul>
        <ul class="list-inline text-muted small">
            <li>Volg ons op</li>
            <li>
                <a href="https://www.facebook.com/uitpaspartner/?fref=ts" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
            </li>
            <li>
                <a href="https://twitter.com/@uitpas/" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
            </li>
            <li>
                <a href="http://uitpaspartner.be/" target="_blank"><i class="fa fa-external-link"></i> Website</a>
            </li>
        </ul>
    </footer> <!-- /footer -->

</div> <!--/ .main-content -->
