<div class="back-nav">
  <a ui-sref="counter.main">Terug</a>
</div>
<div class="counter-statistics-info">
  <h1>Statistieken</h1>
  <p>Een overzicht van statistieken en inzichten.</p>
  <ul class="nav nav-pills nav-stacked">
      <li>
          <a ui-sref="counter.statistics.savings">Punten sparen
          </a>
      </li>
      <li>
          <a ui-sref="counter.statistics.exchange">Voordelen omruilen
          </a>
      </li>
      <li>
          <a ui-sref="counter.statistics.mia">Tickets aan kansentarief
          </a>
      </li>
      <li>
          <a ui-sref="counter.statistics">Verkoop van UiTPASsen
          </a>
      </li>
  </ul>
</div>
