<div class="back-nav">
  <a ui-sref="counter.main">Terug</a>
</div>
<div class="counter-statistics-info">
  <h1>Statistieken</h1>
  <p>Een overzicht van statistieken en inzichten.</p>
  <ul class="nav nav-pills nav-stacked">
      <li>
          <a ui-sref="counter.statistics">Verkoop
          </a>
      </li>
      <li>
          <a ui-sref="counter.statistics.savings">Sparen
          </a>
      </li>
      <li>
          <a ui-sref="counter.statistics.exchange">Ruilen
          </a>
      </li>
      <li>
          <a ui-sref="counter.statistics.mia">MIA's
          </a>
      </li>
  </ul>
</div>