<section class="overview overview-small overview-counter-statistics">

  <div class="overview__loading" ng-if="csc.loadingStatistics">
    <div class="spinner spinner-small">
      <circle-spinner></circle-spinner>
    </div>
  </div>

  <div ng-show="csc.noStatisticsError" class="alert alert-danger">
    Er kunnen geen statistieken opgehaald worden voor deze balie.
  </div>

  <div class="page-header">
    <h1>{{csc.pageTitle}}</h1>

    <div ng-show="csc.dateRanges" class="period-chooser">
        <div ng-init="csc.addDatePicker()">
            <div class="row clearfix">
              <div class="grid__6">
                  <label>Periode</label><br/>
                  <input type="text" class="form-control" placeholder="dd/mm/jjjj - dd/mm/jjjj" data-provide="datepicker" ng-model="csc.formattedDates[0]" ng-change="csc.updateFirstRange()">
              </div>
              <div class="grid__6">
                  <div class="checkbox no-margin">
                      <label>
                          <input type="checkbox" class="comparecheck" ng-model="csc.comparing" ng-change="csc.compareChange()">
                          Vergelijk
                      </label>
                  </div>
                  <div class="row compare-period" ng-class="{inactive: !csc.comparing}">
                      <div>
                          <label class="hidden">Compare</label>
                          <input ng-disabled="!csc.comparing" type="text" class="form-control" placeholder="dd/mm/jjjj - dd/mm/jjjj" data-provide="datepicker" ng-model="csc.formattedDates[1]" ng-change="csc.updateSecondRange()">
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <div style="clear:both" ng-show="csc.showMia">
      <div style="float: right; margin-top: 8px">
        <label>
          <input type="checkbox" class="comparecheck" ng-model="csc.mia" ng-change="csc.loadStatistics()">
          Toon enkel mensen in armoede
        </label>
      </div>
    </div>
  </div>

  <div class="counter-statistics-wrapper">
    <div class="counter-statistics-wrapper">
      <div class="row">
        <div class="col-xs-12">
          <h5 class="element-title">{{csc.titleStr}}</h5>
          <div class="counter-statistics-graph" ng-if="!csc.loadingStatistics">
          </div>
        </div>

        <div ng-include src="csc.typeTemplate" ng-if="!csc.loadingStatistics"></div>

      </div>
    </div>
  </div>

</section>
