<div class="counter-statistics-table">
  <div class="counter-statistics-set" ng-class="{'col-xs-12': !csc.hasCompareData(), 'col-xs-6': csc.hasCompareData()}">
    <p><span class="period-1">Periode 1</span>{{csc.formattedDates[0]}}</p>
    <div class="serie-1">
      <div class="grid">
        <div class="grid__12 stat-wrapper">
          <section class="stat" ng-mouseover="csc.showTooltip($event, csc.typeStr.buyers.help)" ng-mouseleave="csc.hideTooltip()">
            <h2 class="stat__number">{{csc.statistics.totalusers}}</h2>
            <p class="stat__caption">{{csc.typeStr.buyers.label}}</p>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="counter-statistics-set" ng-class="{'col-xs-12': !csc.hasCompareData(), 'col-xs-6': csc.hasCompareData()}">
    <p ng-if="csc.hasCompareData()"><span class="period-2">Periode 2</span>{{csc.formattedDates[1]}}</p>
    <div class="serie-2" ng-if="csc.hasCompareData()">
      <div class="grid">
        <div class="grid__12 stat-wrapper">
          <section class="stat" ng-mouseover="csc.showTooltip($event, csc.typeStr.buyers.help)" ng-mouseleave="csc.hideTooltip()">
            <h2 class="stat__number">{{csc.statistics.totalusers2}}</h2>
            <p class="stat__caption">{{csc.typeStr.buyers.label}}</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div clas="grid__12" ng-include src="'views/counter-statistics/statistics-general-table.html'"></div>


</div>