<div class="panel">
  <div class="panel-heading">{{csc.profileStr}}</div>
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr ng-if="!csc.hasCompareData()">
        <th></th>
        <th class="number" ng-mouseover="csc.showTooltip($event, csc.helpTexts.yourBalie)" ng-mouseleave="csc.hideTooltip()">Aan je balie</th>
      </tr>
      <tr ng-if="csc.hasCompareData()">
        <th></th>
        <th class="number"><span class="period-1">Periode 1</span></th>
        <th class="number"><span class="period-2">Periode 2</span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="table-heading" colspan="3">Geslacht</td>
      </tr>
      <tr ng-repeat="gender in csc.aggregates.gender[0]">
        <td>
                      <span class="columnbar" ng-class="{compare: csc.hasCompareData()}">
                        <span class="bar" style="width: {{gender.count}}%" ></span>
                        <span class="text">{{gender.title}}</span>
                      </span>
        </td>
        <td class="number">{{gender.count}}%</td>
      </tr>
      <tr>
        <td class="table-heading" colspan="3">Leeftijd</td>
      </tr>
      <tr ng-repeat="age in csc.aggregates.ageGroup[0]">
        <td>
                      <span class="columnbar" ng-class="{compare: csc.hasCompareData()}">
                        <span class="bar" style="width: {{age.count}}%"></span>
<!--                        <span ng-if="csc.hasCompareData()" class="bar bar-2" style="width: {{csc.aggregates.ageGroup[1][$index].count}}%" ></span>-->
                        <span class="text">{{age.title | ageStatistics}}</span>
                      </span>
        </td>
        <td class="number">{{age.count}}%</td>
<!--        <td class="number non" ng-if="!csc.hasCompareData()">{{csc.statistics['per_age_allBallie'][$index].count}}%</td>-->
<!--        <td class="number non" ng-if="csc.hasCompareData()">{{csc.statistics['per_age2'][$index].count}}%</td>-->
      </tr>

      <tr>
        <td colspan="3" class="table-heading">Woonplaats</td>
      </tr>
      <tr ng-repeat="municipality in csc.aggregates.municipality[0]">
        <td>
                      <span class="columnbar" ng-class="{compare: csc.hasCompareData()}">
                        <span class="bar" style="width: {{municipality.count}}%"></span>
<!--                        <span ng-if="csc.hasCompareData()" class="bar bar-2" style="width: {{csc.statistics['per_municipality2'][$index].count}}%" ></span>-->
                        <span class="text">{{municipality.title}}</span>
                      </span>
        </td>
        <td class="number">{{municipality.count}}%</td>
<!--        <td class="number non" ng-if="!csc.hasCompareData()">{{csc.statistics['per_municipality_allBallie'][$index].count}}%</td>-->
<!--        <td class="number non" ng-if="csc.hasCompareData()">{{csc.statistics['per_municipality2'][$index].count}}%</td>-->
      </tr>

      </tbody>
    </table>
  </div>
</div>
